<div class="dropdown cart-dropdown">
  <a class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
    data-display="static">
    <div class="icon">
      <i class="icon-shopping-cart"></i>
      <span class="cart-count" *ngIf="myOrderItems">{{
        myOrderItems?.length
        }}</span>
    </div>
    <p>Cart</p>
  </a>

  <div class="dropdown-menu dropdown-menu-right" *ngIf="myOrderItems?.length > 0">
    <div class="dropdown-cart-products">
      <div class="product product-sm" *ngFor="let item of myOrderItems">
        <figure class="product-media">
          <a routerLink="/cart/{{ item.product.id }}">
            <img nz-image nzSrc="{{ item.product.images }}" alt="Product image" class="product-image" />
          </a>
        </figure>

        <div class="product-body">
          <h5 class="product-title">
            <a routerLink="/cart/{{ item.product.id }}">{{
              item.product.name
              }}</a>
          </h5>
          <div class="product-price">
            <p class="new-price" style="font-size: 1.5rem">
              {{ item.total_item | currency: "đ ":"symbol":"1.0-0" }}
            </p>
            <p class="old-price" style="font-size: 1.5rem">
              {{ item.product.price_new | currency: "đ ":"symbol":"1.0-0" }} x
              {{ item.quantity }}/chiếc
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="dropdown-cart-total">
      <span>Tổng tiền</span>
      <span class="cart-total-price">{{
        totalAmmount | currency: "VND ":"symbol":"1.0-0"
        }}</span>
    </div>
    <div class="dropdown-cart-action">
      <a [routerLink]="['/cart']" class="btn btn-primary">Xem giỏ hàng</a>
      <a [routerLink]="['/checkout']" class="btn btn-outline-primary-2"><span>Thanh Toán</span><i
          class="icon-long-arrow-right"></i></a>
    </div>
  </div>
</div>
