<!-- <div class="container">
  <div class="d-flex justify-content-around">
    <div class=" card-5 m-2 col-6 col-sm-4 col-lg-2 d-flex flex-column shaw p-1 rounded"
      *ngFor="let item of getData , index as i">
      <img src="{{item.images}}" class="Category image" alt="Category image">
      <span
        style="text-align: center;font-weight: bold; font-size: 16pxs;text-transform: uppercase; margin-top: 4px;background: #eee;">{{item.name}}</span>
    </div>
  </div>
</div> -->
<nz-carousel nzAutoPlay  >
  <div nz-carousel-content class="slide{{i}}" *ngFor="let dataSlide of getData,index as i">
    <div class="d-flex justify-content-around">
    <div class=" card-5 m-2 col-6 col-sm-4 col-lg-2 d-flex flex-column shaw p-2 rounded"  *ngFor="let item of dataSlide">
      <img src="{{item.images}}" class="Category image" alt="Category image" onerror="this.src='../../../../assets/image/brand.svg'" >
      <span
        style="text-align: center;font-weight: bold; font-size: 16pxs;text-transform: uppercase; margin-top: 4px;background: #eee;">{{item.name}}</span>
    </div>
    </div>
  </div>
</nz-carousel>
