<nz-card class="card-header mb-2">
  <div nz-row class="header">
    <div nz-col nzSpan="12">
      <h4 class="title-card mb-1">Danh sách</h4>
      <nz-breadcrumb>
        <nz-breadcrumb-item routerLink="/dashboard">
          <i nz-icon nzType="home"></i>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a>
            <i nz-icon nzType="user"></i>
            <span>Danh sách đơn hàng</span>
          </a>
        </nz-breadcrumb-item>
        <!-- <nz-breadcrumb-item>Application</nz-breadcrumb-item> -->
      </nz-breadcrumb>
    </div>
  </div>
</nz-card>
<div class="inner-content">
  <div nz-row class="mb-2 justify-content-between">
    <button nz-button nzType="primary" routerLink="/order-add">
      <i nz-icon nzType="plus"></i>
      Thêm mới
    </button>

    <nz-radio-group [(ngModel)]="radioValue" (ngModelChange)="changeStatus()">
      <label nz-radio-button nzValue="5">Tất cả</label>
      <label nz-radio-button nzValue="0">Chờ xác nhận</label>
      <label nz-radio-button nzValue="1">Đang đóng gói</label>
      <label nz-radio-button nzValue="2">Đang giao hàng</label>
      <label nz-radio-button nzValue="3">Đã thanh toán</label>
      <label nz-radio-button nzValue="4">Đã hủy</label>
    </nz-radio-group>
    <nz-input-group style="width: 250px" [nzSuffix]="suffixIconSearch">
      <input
        type="text"
        [(ngModel)]="filterBy"
        (keyup)="filter()"
        nz-input
        placeholder="Tìm kiếm ..."
      /> </nz-input-group
    ><ng-template #suffixIconSearch>
      <i nz-icon nzType="search"></i>
    </ng-template>
  </div>
  <ag-grid-angular
    #agGrid
    style="width: 100%; height: 90%"
    id="myGrid"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [getRowHeight]="getRowHeight"
    (cellDoubleClicked)="onCellDoubleClicked($event)"
    [rowData]="rowData"
    [frameworkComponents]="frameworkComponents"
    [excelStyles]="excelStyles"
    [overlayLoadingTemplate]="overlayLoadingTemplate"
    [overlayNoRowsTemplate]="overlayNoRowsTemplate"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>
</div>
