<main class="main">
  <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
    <div class="container">
      <h1 class="page-title">
        Giỏ hàng<span>Đặt hàng ngày đồng hồ liên tay</span>
      </h1>
    </div>
  </div>
  <nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
        <li class="breadcrumb-item active" aria-current="page">Giỏ hàng</li>
      </ol>
    </div>
  </nav>

  <div class="page-content">
    <div class="cart">
      <div class="container">
        <div class="row" *ngIf="check_cart_or_order==1||check_cart_or_order==0">
          <div class="col-lg-9" *ngIf="check_cart_or_order==1">
            <div class="div_table" style="
                height: 50vh;
                overflow: auto;
                background: #ffff;
                border-radius: 10px;
                padding: 8px;
                margin-bottom: 12px;
              ">
              <table class="table table-cart table-mobile">
                <thead>
                  <tr>
                    <th>Sản phẩm <nz-badge nzStandalone
                        [nzStyle]="{ backgroundColor: '#fff', color: '#999', boxShadow: '0 0 0 1px #d9d9d9 inset' }"
                        [nzCount]="myOrderItems?.length"></nz-badge>
                    </th>
                    <th>Giá</th>
                    <th>Số lượng</th>
                    <th>Tổng tiền</th>
                    <th></th>
                  </tr>
                </thead>

                <tbody *ngIf="myOrderItems">
                  <tr class="card-2 p-2" *ngFor="let item of myOrderItems,index as i">
                    <td class="product-col">
                      <div class="product">
                        <figure class="product-media">
                          <a>
                            <img nz-image nzSrc="{{ item.product.images }}" alt="Product image" />
                          </a>
                        </figure>

                        <h3 class="product-title">
                          <a>{{ item.product.name }}</a>
                        </h3>
                      </div>
                    </td>
                    <td class="price-col">
                      {{ item.price_final | currency: "đ":"symbol":"1.0-0" }}
                    </td>
                    <td class="quantity-col">
                      <div class="cart-product-quantity">
                        <input type="number" (input)="updatePro(item)" [(ngModel)]="item.quantity" class="form-control"
                          value="1" min="1" max="10" step="1" data-decimals="0" required />
                      </div>
                    </td>
                    <td class="total-col">
                      <span>
                        {{ item.total_item | currency: "đ":"symbol":"1.0-0" }}
                      </span>
                    </td>
                    <td class="remove-col">
                      <button (click)="removeItemFromCart(item.id)" class="btn-remove mr-0">
                        <i nz-icon nzType="delete" nzTheme="outline"></i>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <nz-empty *ngIf="!myOrderItems" [nzNotFoundImage]="imagecart" [nzNotFoundContent]="contentTpl"
                [nzNotFoundFooter]="footerTpl">
                <ng-template #imagecart>
                  <img style="margin: 0 auto" src="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
                    alt="" />
                </ng-template>
                <ng-template #contentTpl>
                  <span>
                    Chưa có
                    <a routerLink="/products">sản phẩm</a>
                  </span>
                </ng-template>
                <ng-template #footerTpl>
                  <button nz-button nzType="primary">Tiếp tục mua hàng</button>
                </ng-template>
              </nz-empty>
            </div>
          </div>

          <div class="col-lg-9 bg-bor" *ngIf="check_cart_or_order==0">
            <h2 class="checkout-title"><i nz-icon nzType="arrow-left" style="align-items: center;
              display: contents;" [routerLink]="'/cart'" nzTheme="outline"></i>Thông tin đặt hàng</h2>
            <form [formGroup]="checkoutForm">
              <div class="row">
                <div class="col-sm-12">
                  <label>Họ và Tên*</label>
                  <input [ngClass]="{ 'is-invalid': submitted && f.fullname.errors }" type="text"
                    formControlName="fullname" class="form-control" required />
                </div>

              </div>

              <div class="row">
                <div class="col-sm-6">
                  <label>Số điện thoại *</label>
                  <input [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" type="text" formControlName="phone"
                    class="form-control" required />

                </div>

                <div class="col-sm-6">
                  <label>Email *</label>
                  <input [ngClass]="{ 'is-invalid': submitted && f.email.errors }" type="email" formControlName="email"
                    class="form-control" required />

                </div>
              </div>

              <label>Địa chỉ giao hàng *</label>
              <input [ngClass]="{ 'is-invalid': submitted && f.address.errors }" type="text" class="form-control"
                formControlName="address" required />

            </form>
          </div>
          <aside class="col-lg-3"    *ngIf="check_cart_or_order!=2">
            <div class="summary summary-cart" >
              <h3 class="summary-title">Tổng số giỏ hàng</h3>
              <table class="table table-summary">
                <tbody>
                  <tr class="summary-shipping" style="line-height: 35px">
                    <td>Hình thức thanh toán:</td>
                    <td>&nbsp;</td>
                  </tr>

                  <tr class="summary-shipping-row">
                    <td>
                      <div class="custom-control custom-radio">
                        <input type="radio" id="free-shipping" value="1" [(ngModel)]="patment" name="shipping" class="custom-control-input" />
                        <label class="custom-control-label" for="free-shipping">Ship Code</label>
                      </div>
                    </td>
                    <td></td>
                  </tr>
                  <tr class="summary-shipping-row">
                    <td>
                      <div class="custom-control custom-radio">
                        <input type="radio" id="standart-shipping" value="0" [(ngModel)]="patment" name="shipping" class="custom-control-input" />
                        <label class="custom-control-label" for="standart-shipping">Thanh toán online</label>
                      </div>
                    </td>
                    <td></td>
                  </tr>
                  <tr class="summary-total">
                    <td>Tổng tiền thanh toán:</td>
                    <td>
                      <i nz-icon *ngIf="isLoading" nzType="loading" nzTheme="outline"></i>
                      <span *ngIf="!isLoading">
                        {{
                        this.totalAmmount | currency: "đ":"symbol":"1.0-0"
                        }}</span>
                    </td>
                  </tr>
                </tbody>
              </table>

              <button  nz-button
              [nzLoading]="isLoadingOne" (click)="checkout()" class="btn btn-outline-primary-2 btn-order btn-block">{{ check_cart_or_order==1?'THANH TOÁN':'TIẾP TỤC'}}</button>
            </div>

            <a routerLink="/products" class="btn btn-outline-dark-2 btn-block mb-3"><span>TIẾP TỤC MUA HÀNG</span><i
                class="icon-refresh"></i></a>
          </aside>
        </div>
        <nz-result class="bg-bor" *ngIf="check_cart_or_order==2"
        nzStatus="success"
        nzTitle="Đặt Hàng Thành Công"
        nzSubTitle="H2N cảm ơn quý khách hàng đã tin tưởng shop.
         Mong quý khách để ý điện thoại nhân viên shop sẽ liên hệ xác nhận đơn hàng!"
      >
        <div nz-result-extra>
          <button routerLink="/products" nz-button>Tiếp tục mua hàng</button>
        </div>
      </nz-result>
      </div>
    </div>
  </div>
</main>
