.table td{
    padding: 4px;
}
.product{
    background: transparent;
}
.div_table::-webkit-scrollbar {
    width: 0;
  }

  /* Track */
  .div_table::-webkit-scrollbar-track {
    background: #fff;
  }

  /* Handle */
  .div_table::-webkit-scrollbar-thumb {
    background: #fff;
  }

  /* Handle on hover */
  .div_table::-webkit-scrollbar-thumb:hover {
    background: #fff;
  }
  .ant-empty-image > img{
      margin: 0 auto !important;
  }
