
.wishlist a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wishlist .wishlist-count {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1;
  margin-left: 0.2rem;
  margin-top: 0.1rem;
  color: #fff;
  background-color: #66f;
}
.cart-dropdown {
  padding-left: 1.5rem;
}
.cart-dropdown .dropdown-toggle {
  font-size: 2.6rem;
}
.cart-dropdown .cart-count {
  background-color: #66f;
}
.search-toggle {
  color: #666;
}
@media screen and (max-width: 991px) {
  .header-middle .header-right > div:nth-child(3) {
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .dropdown.category-dropdown .dropdown-toggle {
    min-width: 230px;
  }
  .dropdown.category-dropdown .dropdown-toggle:after {
    margin-left: 3.5rem;
  }
}
@media screen and (max-width: 575px) {
  .dropdown.category-dropdown .dropdown-toggle {
    min-width: 200px;
  }
  .dropdown.category-dropdown .dropdown-toggle:after {
    margin-left: 2.3rem;
  }
}
.notification {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1.3rem 0;
}
.notification .notify-content h3 {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #fff;
  margin-bottom: 0;
}
.notification .notify-action {
  position: absolute;
  right: 19%;
  top: 17%;
}
.notification .notify-action a {
  font-size: 1.6rem;
  letter-spacing: -0.01em;
  color: #fff;
  line-height: 0;
}
.intro-slider-container,
.intro-slide {
  height: 600px;
  background-color: #f5f6f9;
}
.intro-slide {
  display: flex;
  align-items: center;
  background-size: cover;
  background-position: center center;
}
.intro-slide .intro-content {
  display: flex;
  position: static;
  left: auto;
  top: auto;
  transform: translateY(0);
  -ms-transform: translateY(0);
}
.intro-slide .intro-content .row {
  justify-content: flex-end;
  width: 142rem;
}
.intro-slide .intro-content .intro {
  margin-right: 0.5rem;
  padding-bottom: 3.5rem;
}
.intro .title h3.darkWhite,
.intro .price h3.darkWhite {
  color: #ebebeb;
}
.owl-theme .owl-nav [class*="owl-"] {
  width: 3.2rem;
  height: 3.2rem;
  font-size: 2rem;
  margin-top: -1.6rem;
}
.owl-theme.owl-nav-inside .owl-nav .owl-prev {
  left: 50%;
  margin-left: -584px;
}
.owl-theme.owl-nav-inside .owl-nav .owl-next {
  right: 50%;
  margin-right: -584px;
}
.owl-theme.owl-light .owl-nav [class*="owl-"] {
  border-color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.7);
  color: #ccc;
}
.owl-theme.owl-nav-inside .owl-dots {
  bottom: 20px;
}
.owl-prev:focus,
.owl-next:focus {
  outline: none;
}
.container {
  width: 100%;
  max-width: 1420px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
.intro .title h3 {
  color: #666;
  font-weight: 700;
  font-size: 2.4rem;
  letter-spacing: -0.025em;
  margin-bottom: 0.7rem;
  text-indent: 0.2rem;
}
.intro .content {
  margin-bottom: 0.5rem;
}
.intro .content h3 {
  color: #fff;
  font-weight: 700;
  font-size: 6rem;
  letter-spacing: -0.025em;
  margin-bottom: 0;
  line-height: 1em;
}
.intro .price h3 {
  color: #666;
  font-weight: 700;
  font-size: 3.4rem;
  letter-spacing: -0.025em;
  margin-bottom: 2.2rem;
}
.intro .action {
  margin-left: 0.2rem;
}
.intro .action a {
  padding: 1.2rem 4.5rem;
}
.btn-outline-primary-2 i {
  color: #66f;
}
.btn-outline-primary-2:hover i,
.btn-outline-primary-2:focus i {
  color: #fff;
}
.banner-container {
  margin-top: -100px;
  position: relative;
  margin-bottom: 5rem;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.banner-container > div {
  background-position: center;
  background-size: cover;
}
.banner-container::before {
  content: "";
  box-shadow: 0 10px 20px #999;
  margin-top: 2rem;
  width: 96%;
  height: 90%;
  left: 2%;
  position: absolute;
  z-index: -10;
}
.col-pd1 {
  padding: 0;
}
.col-pd1:hover > a:after,
.col-pd1:focus > a:after {
  opacity: 0.5;
}
.col-pd1:hover .action a,
.col-pd1:focus .action a {
  color: #66f;
  background-color: #fff;
}
.col-pd1 > a img {
  height: 100%;
}
.col-pd1 > a:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #66f;
  opacity: 0;
  transition: all 0.3s;
  top: 0;
  left: 0;
}
.col-pd1:not(:last-child) {
  border-right: 0.1rem solid white;
}
.col-pd1 .banner-content {
  left: 5rem;
  padding-right: 5rem;
}
.col-pd1 .title h3 {
  color: #ebebeb;
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: -0.01em;
  margin-bottom: 1.3rem;
}
.col-pd1 .content {
  margin-bottom: 1.5rem;
}
.col-pd1 .content h3 {
  font-size: 3.4rem;
  font-weight: 700;
  letter-spacing: -0.025em;
  line-height: 1em;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: #fff;
}
.col-pd1 .action a {
  padding: 0.5rem 1.8rem;
  min-width: unset;
}
.col-pd1 .action a:hover,
.col-pd1 .action a:focus {
  text-decoration: none;
}
.banner-content a:hover,
.banner-content a:focus {
  text-decoration: none;
}
.logos .owl-simple .owl-nav .owl-prev i,
.logos .owl-simple .owl-nav .owl-next i {
  font-size: 2rem;
}
.logos .owl-simple .owl-nav .owl-prev {
  left: -5.5rem;
}
.logos .owl-simple .owl-nav .owl-next {
  right: -5.5rem;
}
.logos .owl-simple .owl-nav [class*="owl-"]:not(.disabled):hover {
  color: #66f;
  background: transparent;
  text-decoration: none;
}
.btn-primary {
  color: #fff;
  font-size: 1.4rem;
  background-color: #66f;
  border-color: #66f;
  box-shadow: none;
}
.banner-title a {
  color: #fff;
}
.btn-demoprimary {
  color: #fff;
  font-size: 1.4rem;
  background-color: transparent;
  border-color: #fff;
  box-shadow: none;
  transition: all 0.3s;
  padding-top: 5px;
  padding-bottom: 5px;
}
.btn-demoprimary:hover,
.btn-demoprimary:focus {
  color: #66f;
  background-color: #fff;
}
.btn-viewMore {
  color: #333333;
  border: 1px solid #333333;
  transition: all 0.3s;
  padding: 1.5rem 4rem 1.5rem 4rem;
  margin-bottom: 3rem;
}
.btn-viewMore:hover,
.btn-viewMore:focus {
  color: #fff;
  background-color: #66f;
  border-color: #66f;
}
.heading .title {
  font-weight: 700;
  font-size: 3.4rem;
  letter-spacing: -0.025em;
  margin-top: 6rem;
}
.heading .content {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0;
  margin-top: 2rem;
  color: #777;
  line-height: 1em;
}
.old-price {
  color: #cccccc;
  font-size: 1.6rem;
  text-decoration: none;
}
.cur-price {
  color: #000;
  font-size: 1.6rem;
}
.product-price {
  justify-content: center;
}
.ratings-container {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  margin-bottom: 1.7rem;
  line-height: 1;
  white-space: nowrap;
  justify-content: center;
}
.product-nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-addtolist {
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  color: #777;
  transition: all 0.35s ease;
  opacity: 0;
  visibility: hidden;
}
.btn-addtolist:before {
  content: "\f234";
  font-family: "molla";
}
.btn-addtolist:hover,
.btn-addtolist:focus {
  color: #666666;
}
.btn-addtolist:hover:before,
.btn-addtolist:focus:before {
  content: "\f233";
  font-family: "molla";
}
.btn-product {
  color: #66f;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  line-height: 1;
  transition: all 0.35s ease;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  margin: 1rem;
  flex-grow: 1;
  flex-basis: 0;
  border: 1px solid #66f;
  transition: all 0.35s ease;
}
.btn-product span {
  color: #66f;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: -0.01em;
  transition: all 0.35s ease;
}
.btn-product:hover,
.btn-product:focus {
  background-color: #66f;
  color: #fff;
}
.btn-product:hover span,
.btn-product:focus span {
  color: #fff;
  box-shadow: 0 0px 0 0 white;
}
.product-action {
  position: initial;
  transform: unset;
}
.product:hover .product-action,
.product:focus .product-action {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.product:hover .btn-addtolist,
.product:focus .btn-addtolist {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
.btn-product-icon {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  padding: 0;
  font-size: 1.4rem;
  line-height: 1;
  transition: all 0.35s ease;
  padding: 0;
  border-radius: 0%;
  color: #777;
  background-color: #fff;
}
.btn-product-icon:before {
  font-family: "molla";
}
.btn-product-icon span {
  display: inline;
}
.btn-product-icon:hover,
.btn-product-icon:focus {
  color: #777;
}
.bestsellers .owl-dots {
  margin-top: -7rem;
}
.bestsellers .product-action {
  display: flex;
  flex-direction: column;
}
.bestsellers .btn-cart {
  width: 90%;
  margin-bottom: 0;
}
.product.demo21 .product-body {
  padding-top: 0;
}
.product.demo21 .product-action {
  padding: 0 2rem;
}
.product.demo21 .product-action a {
  padding: 1rem;
}
.choose-style {
  margin-top: 9rem;
  background-image: url(../../images/demos/demo-21/chooseStyle/background.png);
  background-repeat: no-repeat;
}
.choose-style .container {
  display: flex;
  padding-top: 5rem;
  padding-bottom: 2.5rem;
}
.choose-style .owl-stage,
.choose-style .carousel-equal-height .owl-item {
  display: block;
}
.choose-style .product {
  background: transparent;
}
.choose-style .product::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 7rem;
  background-color: #fff;
}
.choose-style .product .product-body {
  padding-top: 0px;
  background: transparent;
}
.choose-style .product .product-action {
  overflow: hidden;
  padding: 0;
}
.choose-style .product:hover .product-action,
.choose-style .product:focus .product-action {
  overflow: visible;
}
.choose-style .product:hover::before,
.choose-style .product:focus::before {
  bottom: 0;
}
.choose-style .owl-stage-outer {
  width: 89.1rem;
}
.choose-style .banner-intro {
  margin-top: auto;
  margin-bottom: 10rem;
  padding-left: 0;
}
.choose-style p {
  color: #ebebeb;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: "Roboto";
  letter-spacing: 0em;
  margin-top: 1.8rem;
  margin-bottom: 0.8rem;
}
.choose-style .price {
  font-size: 1.4rem;
  letter-spacing: 0;
  margin-top: 2.3rem;
}
.choose-style h3.title {
  color: #fff;
  font-weight: 700;
  font-size: 2.4rem;
  letter-spacing: 0em;
  margin-bottom: 0.5rem;
  text-transform: none;
  line-height: 1.2em;
}
.choose-style h4.content {
  color: #fff;
  font-weight: 400;
  font-size: 1.4rem;
  letter-spacing: 0em;
  margin-bottom: 0.3rem;
  line-height: 1.25em;
}
.choose-style .btn {
  margin-top: 1rem;
  min-width: unset;
  padding: 0.8rem 3rem 0.8rem 2rem;
}
.choose-style .heading .title {
  padding-top: 1rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.choose-style .heading .content {
  margin-top: 0rem;
  margin-bottom: 5rem;
}
.choose-style .carousel {
  padding: 0;
}
.category-banner {
  margin-top: 7rem;
}
.category-banner img {
  width: 100%;
}
.category-banner .row > div:hover .action,
.category-banner .row > div:focus .action {
  color: #66f;
  border-bottom-width: 0.1rem;
}
.category-banner .row > div:hover .action:after,
.category-banner .row > div:focus .action:after {
  content: "\f274";
  font-family: "molla";
  visibility: visible;
  opacity: 1;
  transform: translateX(0px);
}
.category-banner .banner-content {
  left: 5rem;
}
.category-banner .banner-content .category {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: -0.01em;
  margin-top: 0rem;
  margin-bottom: 0.3rem;
}
.category-banner .banner-content .action {
  color: #777;
  padding-bottom: 0.3rem;
  letter-spacing: -0.01em;
  border-bottom: 0.1rem solid #66f;
  border-bottom-width: 0;
  transition: all 0.2s;
}
.category-banner .banner-content .action::after {
  content: "\f274";
  font-family: "molla";
  transform: translateX(-25px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.new-arrivals .nav-pills {
  margin-bottom: 11rem;
}
.new-arrivals .product {
  margin-top: -8rem;
}
.new-arrivals .product:hover,
.new-arrivals .product:focus {
  z-index: 5;
}
.new-arrivals .product.demo21 .product-body .product-action {
  padding: 0;
}
.new-arrivals .btn-viewMore {
  margin-top: -5rem;
  position: relative;
  padding: 1.2rem 4.2rem;
  border-color: #ccc;
}
.new-arrivals .btn-viewMore:hover,
.new-arrivals .btn-viewMore:focus {
  border-color: #66f;
}
.nav.nav-pills .nav-item.show .nav-link.active,
.nav.nav-pills .nav-item .nav-link.active {
  color: #fff;
  border: none;
  background-color: #66f;
}
.newsletter .background {
  background-position: center;
  padding-top: 4rem;
  padding-bottom: 8.5rem;
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  position: relative;
}
.newsletter .background::before {
  content: "";
  box-shadow: 0 0 20px #666;
  width: 98%;
  height: 80%;
  position: absolute;
  z-index: -10;
}
.newsletter .subscribe-title {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
.newsletter .subscribe-title:before {
  content: "\f1c6";
  font-family: "molla";
  font-size: 4.5rem;
  color: #fff;
}
.newsletter .intro-title1st {
  font-size: 1.4rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: -0.01em;
  margin-top: 1rem;
}
.newsletter .intro-title2nd {
  font-size: 3.4rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.025em;
  margin-bottom: 0rem;
}
.newsletter form {
  margin-top: 3rem;
}
.newsletter input {
  padding: 0.6em 2.5rem 0.6rem 1.5rem;
  border: 3px solid white;
  flex: 1 1 auto;
  font-size: 1.4rem;
  font-weight: 300;
  color: #999;
}
.newsletter .btn-subscribe {
  background-color: #66f;
  color: white;
  border-color: #66f;
  padding: 0.6rem 2rem 0.6rem 2rem;
  min-width: unset;
  text-transform: uppercase;
}
.newsletter .btn-subscribe:hover,
.newsletter .btn-subscribe:focus {
  color: #66f;
  background-color: #fff;
  border-color: #fff;
}
.icon-box-content .icon-box-title {
  font-size: 1.6rem;
  font-weight: 700;
}
.icon-box-content p {
  font-size: 1.4rem;
  font-weight: 300;
}
.service {
  padding-left: 0rem;
  display: flex;
  flex-wrap: wrap;
}
.service .icon-box-side {
  padding-bottom: 1rem;
}
.service > div {
  padding: 0;
}
.col-noPadding {
  padding-left: 0rem;
}
.instagram-store hr {
  margin-bottom: 6.5rem;
}
.instagram-store .title {
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}
.instagram-store > .row {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.instagram-store .banner-sm-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.instagram-store .banner-sm,
.instagram-store .banner-lg {
  padding: 0.5rem;
}
footer.footer hr {
  margin-top: 5.5rem;
}
footer.footer .widget-about-info span {
  font-size: 1.3rem;
  letter-spacing: 0;
}
footer.footer .widget-about-info .phoneNum {
  padding-right: 0;
}
footer.footer .widget-about-info .payment {
  padding-left: 2.5rem;
}
footer.footer .widget-about p {
  max-width: 50rem;
}
footer.footer .widget-title {
  font-weight: 600;
}
footer.footer a:hover,
footer.footer a:focus {
  color: #66f;
}
.instagram-feed {
  margin-bottom: 0;
  background-color: transparent;
}
.instagram-feed::after {
  left: 0.5rem;
  top: 0.5rem;
  right: 0.5rem;
  bottom: 0.5rem;
}
.instagram-feed a:hover,
.instagram-feed a:focus {
  color: #66f;
}
.mmenu-active .mobile-menu-container {
  visibility: visible;
  transform: translateX(83px);
}
@media screen and (max-width: 991px) {
  .banner-container {
    margin-top: -3rem;
  }
  .col-pd1:not(:last-child) {
    border: none;
    margin-bottom: 1rem;
  }
  .newsletter {
    padding: 7rem 1rem 7rem 1rem;
  }
  .banner-container:before {
    display: none;
  }
  .banner-container .row > div {
    margin-bottom: 2rem;
  }
  .category-banner {
    margin-top: 0;
  }
  .category-banner .row > div {
    margin-bottom: 2rem;
  }
  .choose-style .carousel {
    text-align: center;
    margin-left: -1.5rem;
  }
}
@media screen and (max-width: 1200px) {
  .choose-style {
    background-image: none;
  }
  .choose-style .carousel {
    padding-left: 3rem;
  }
  .choose-style .banner-intro {
    background-image: url(../../images/demos/demo-21/chooseStyle/inspirationback.jpg);
    background-position: center;
    padding-top: 18.5rem;
    padding-bottom: 18.5rem;
    padding-left: 3rem;
    margin-bottom: 0rem !important;
  }
  .instagram-store .banner-lg {
    order: 1;
  }
}
@media screen and (min-width: 1200px) {
  .col-2xl-5col {
    flex: 0 0 40%;
    max-width: 40%;
  }
}
@media screen and (min-width: 576px) {
  .banner-lg {
    flex: 0 0 40%;
  }
  .banner-sm-div {
    flex: 0 0 20%;
    max-width: 20%;
  }
  .banner-sm {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media screen and (max-width: 575px) {
  .banner-lg {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .banner-sm-div {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .banner-sm {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 1510px) {
  .owl-nav {
    display: none;
  }
}
@media screen and (max-width: 1199px) {
  .choose-style {
    margin-top: 1rem;
  }
  .choose-style .container {
    padding-top: 0;
  }
}
@media screen and (max-width: 991px) {
  .col-pd1 > a img {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .input-group {
    padding: 0 2rem;
  }
}
@media screen and (max-width: 576px) {
  .notification {
    justify-content: flex-start;
  }
  .notification .notify-content h3 {
    padding-left: 1rem;
    margin-right: 3rem;
  }
  .notification .notify-action {
    right: 1rem;
  }
  .btn-product {
    margin: 0;
  }
  .product.demo21 .product-action {
    padding: 0;
  }
}
@media screen and (max-width: 660px) {
  .intro-slide .intro {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media screen and (max-width: 400px) {
  .newsletter .input-group {
    justify-content: center;
  }
  .newsletter .input-group-append {
    margin-top: 1rem;
  }
}
@media screen and (max-width: 486px) {
  .col-pd1 > a img {
    width: unset !important;
  }
}
/*# sourceMappingURL=demo-21.css.map */
