<div nz-row class="mb-2">
  <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
    <input type="text" nz-input [(ngModel)]="valueColor" placeholder="- - -Nhập tên màu- - -" />
  </nz-input-group>
  <ng-template #suffixButton>
    <button nz-button nzType="primary" nzSize="large" (click)="onAdd()" nzSearch>
      <i nz-icon nzType="{{this.buttonName?'plus-circle':'edit'}}" nzTheme="outline"></i>{{this.buttonName?'Thêm':'Cập nhật'}}
    </button>
  </ng-template>
</div>
<i nz-icon nzType="plus-circle"*ngIf="!this.buttonName"  (click)="changAction()" nzTheme="outline"></i>
<ag-grid-angular
  #agGrid
  style="width: 100%; height: 90%"
  id="myGrid"
  class="ag-theme-alpine"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [getRowHeight]="getRowHeight"
  [rowData]="rowData"
  [frameworkComponents]="frameworkComponents"
  [excelStyles]="excelStyles"
  [overlayLoadingTemplate]="overlayLoadingTemplate"
  [overlayNoRowsTemplate]="overlayNoRowsTemplate"
  (gridReady)="onGridReady($event)"
></ag-grid-angular>
