[nz-form] {
  max-width: 600px;
}

.phone-select {
  width: 70px;
}

.register-are {
  margin-bottom: 8px;
}
.demo-loadmore-list {
  min-height: 350px;
}
.loadmore {
  text-align: center;
  margin-top: 12px;
  height: 32px;
  line-height: 32px;
}
.customeizeOk{
  height: 80%;overflow: auto
}
.customeizeOk::-webkit-scrollbar {
  width: 0;
}

/* Track */
.customeizeOk::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
.customeizeOk::-webkit-scrollbar-thumb {
  background: #fff;
}

/* Handle on hover */
.customeizeOk::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
