<nz-card class="card-header mb-2">
  <div nz-row class="header">
    <div nz-col nzSpan="12">
      <h4 class="title-card mb-1">Cập nhật</h4>
      <nz-breadcrumb>
        <nz-breadcrumb-item routerLink="/dashboard">
          <i nz-icon nzType="home"></i>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a>
            <i nz-icon nzType="user"></i>
            <span>Cập nhật đơn hàng</span>
          </a>
        </nz-breadcrumb-item>
        <!-- <nz-breadcrumb-item>Application</nz-breadcrumb-item> -->
      </nz-breadcrumb>
    </div>
  </div>
</nz-card>
<!-- <nz-ribbon nzText="Số sản phẩm {{ list?.length }}"> -->
<div class="inner-content">
  <nz-steps
    *ngIf="data?.status_bill != 4"
    nzType="navigation"
    nzSize="small"
    [nzCurrent]="data?.status_bill"
    (nzIndexChange)="onIndexChange($event)">
    <nz-step
      nzTitle="Chờ Xác Nhận"
      nzStatus="{{ data?.status_bill> 0 ? 'finish' : 'process' }}"
      ></nz-step>
    <nz-step
      nzTitle="Đang đóng gói"
      nzStatus="{{ data?.status_bill> 1 ? 'finish' : 'process' }}"
      ></nz-step>
    <nz-step
      nzTitle="Đang Giao Hàng"
      nzStatus="{{ data?.status_bill> 2 ? 'finish' : 'process' }}"
      ></nz-step>
    <nz-step
      nzTitle="Đã Thanh toán"
      nzStatus="{{ data?.status_bill >= 3 ? 'finish' : 'process' }}"
      ></nz-step>
  </nz-steps>
  <h3 *ngIf="data?.status_bill == 4" style="color: red; text-align: center">
    <i nz-icon nzType="close-circle" nzTheme="outline"></i> Đơn hàng đã được
    hủy
  </h3>
  <div nz-row class="mt-3 customeizeOk">
    <div nz-col [nzSpan]="14" [nzPush]="10">
      <nz-list *ngIf="list?.length>0" class="demo-loadmore-list"
        [nzLoading]="initLoading">
        <nz-list-item *ngFor="let item of list">
          <ng-container>
            <nz-list-item-meta
              nzAvatar="{{ item?.product?.images }}"
              nzDescription="{{ item?.product?.name }}">
              <nz-list-item-meta-title>
                <input
                  [disabled]="data?.status_bill> 1"
                min="1"
                (input)="updatePro(item)"
                nz-input
                type="number"
                [(ngModel)]="item.quantity"
                style="width: 100px"
                />
                <span style="color: green" class="ml-2">{{
                  item.product.colorWatch.name
                  }}</span>
              </nz-list-item-meta-title>
            </nz-list-item-meta>
            {{ item.total_item | currency: "đ":"symbol":"1.0-0" }}
            <ul nz-list-item-actions>
              <nz-list-item-action><button
                  nz-button
                  nzType="dashed"
                  nzShape="circle"
                  [disabled]="data?.status_bill> 1"
                  (click)="remove(item)"
                  >
                  <i nz-icon nzType="delete" nzTheme="outline"></i>
                </button>
              </nz-list-item-action>
            </ul>
          </ng-container>
        </nz-list-item>
      </nz-list>
      <nz-empty
        *ngIf="list?.length<1"
        [nzNotFoundImage]="image"
        [nzNotFoundContent]="contentTpl"
        [nzNotFoundFooter]="footerTpl">
        <ng-template #image>
          <img class="m-auto"
            src="https://gw.alipayobjects.com/zos/antfincdn/ZHrcdLPrvN/empty.svg"
            alt="">
        </ng-template>
        <ng-template #contentTpl>
          <span>
            Không có sản phẩm nào
            <!-- <a href="#API">Tạo mớ</a> -->
          </span>
        </ng-template>
        <ng-template #footerTpl>
          <button nz-button nzType="primary" (click)="toggle= !toggle">Thêm ngay</button>
        </ng-template>
      </nz-empty>
    </div>

    <div nz-col [nzSpan]="10" [nzPull]="14">
      <button *ngIf="data?.status_bill <2"
        nz-button
        nzType="primary"
        class="mb-2"
        (click)="toggle= !toggle">
        <span *ngIf="toggle">Thêm sản phẩm</span>
        <i *ngIf="toggle" nz-icon nzType="right"></i>
        <i *ngIf="!toggle" nz-icon nzType="left"></i>
        <span *ngIf="!toggle">Quay lại</span>
      </button>
      <form
        *ngIf="toggle"
        nz-form
        [formGroup]="infoForm"
        (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="fullname">Họ
            và Tên</nz-form-label>
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            nzErrorTip="Vui lòng nhập họ và tên!">
            <input nz-input formControlName="fullname" id="fullname" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email" nzRequired>Email</nz-form-label>
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            nzErrorTip="Please input your email!">
            <input nz-input type="email" id="email" formControlName="email" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label
            [nzSm]="6"
            [nzXs]="24"
            nzFor="address"
            nzRequired
            nzTooltipTitle="What do you want other to call you">
            <span>Địa chỉ</span>
          </nz-form-label>
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            nzErrorTip="Please input your address!">
            <input nz-input id="address" formControlName="address" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="phone" nzRequired>Số điện
            thoại</nz-form-label>
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            nzErrorTip="Please input your address!">
            <input nz-input id="phone" formControlName="phone" />
          </nz-form-control>
        </nz-form-item>
        <h5 class="text-center" style="color: green">
          Tổng tiền đơn hàng:
          {{ totalAmmount | currency: "đ":"symbol":"1.0-0" }}
        </h5>
        <nz-form-item
          nz-row
          class="register-area"
          *ngIf="data?.status_bill <3">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <nz-button-group>
              <button
                (click)="Continnue(data.id, 3)"
                nz-button
                nzType="primary"
                [nzLoading]="isLoading">
                <i nz-icon nzType="left"></i>
                Hủy đơn
              </button>
              <button
                *ngIf="data?.status_bill <2"
                (click)="updateProfile()"
                nz-button
                nzType="primary"
                [nzLoading]="isLoading">Cập nhật thông tin
              </button>
              <button
              nz-popconfirm
              nzPopconfirmTitle="Bạn có chắc chắn muốn tiếp tục không?"
                (nzOnConfirm)="Continnue(data.id, data?.status_bill)"
                nz-button
                nzType="primary"
                [nzLoading]="isLoading">
                {{ data?.status_bill == 3 ? "Hoàn thành" : "Tiếp tục" }}
                <i nz-icon nzType="right"></i>
              </button>
            </nz-button-group>
          </nz-form-control>
        </nz-form-item>
      </form>
      <nz-form-item *ngIf="!toggle">
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="fullname">Sản
          phẩm</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <div class="example-input">
            <input
              placeholder="Tìm kiếm sản phẩm..."
              nz-input
              [(ngModel)]="inputValue"
              (keyup)="onInput($event)"
              [nzAutocomplete]="auto"
              />
            <nz-autocomplete #auto>
              <nz-auto-option
                *ngFor="let option of options"
                [nzValue]="option.name">
                <div class="d-flex">
                  <a style="flex: 9;overflow: hidden;">
                    {{ option.name }}
                  </a>
                  <i nz-icon style="flex: 1;" (click)="addPro(option.id)"
                    nzType="plus-circle" nzTheme="outline"></i>
                </div>
              </nz-auto-option>
            </nz-autocomplete>
          </div>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</div>
<!-- </nz-ribbon> -->
