<nz-layout class="app-layout" style="background: #eee;">
  <nz-sider class="menu-sidebar" nzTheme="light" nzCollapsible nzWidth="256px" nzBreakpoint="md" nzBreakpoint="lg"
    [nzCollapsedWidth]="0" [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="sidebar-logo" style="background: #fff;">
      <a [routerLink]="['/index']" class="logo d-flex">
        <img src="assets/image/logo.svg" alt="H2N Logo" />
        <h4 class="align-self-center m-0 ml-2" style="color:rgb(102, 71, 226)">H2N</h4>
      </a>
    </div>
    <ul nz-menu nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <!-- <li nz-menu-item nzMatchRouter>
        <a routerLink="/dashboard">
          <i nz-icon nzType="dashboard"></i>
          <span>Bảng Điều Khiển</span>
        </a>

      </li> -->

      <li nz-menu-item nzMatchRouter>
        <a routerLink="/order">
          <i nz-icon nzType="shopping"></i>
          <span>Đơn hàng</span>
        </a>

      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/customer">
          <i nz-icon nzType="user"></i>
          <span>Người dùng</span>
        </a>

      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/manager-product">
          <i nz-icon nzType="history"></i>
          <span>Sản Phẩm</span>
        </a>

      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/brands">
          <i nz-icon nzType="shop"></i>
          <span>Nhãn Hiệu</span>
        </a>

      </li>
      <li nz-menu-item nzMatchRouter>
        <a routerLink="/manager-category">
          <i nz-icon nzType="container"></i>
          <span>Danh Mục</span>
        </a>

      </li>

    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header d-flex flex-row justify-content-between">
        <div>
          <a class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
          </a>
        </div>

        <div class="align-self-center mr-4 d-flex flex-row">
          <a nz-dropdown [nzDropdownMenu]="menu">
            <span class="mr-2">Hi, {{user.fullname}}</span>
            <nz-avatar nzText="U"></nz-avatar>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu nzSelectable>
              <!-- <li nz-menu-item><i nz-icon nzType="info-circle" nzTheme="outline"></i>Thông tin chung</li>
              <li nz-menu-item><i nz-icon nzType="setting" nzTheme="outline"></i>Cài đặt</li>
              <li nz-menu-item><i nz-icon nzType="lock" nzTheme="outline"></i>Đổi mật khẩu</li> -->
              <li nz-menu-item nzDanger><a (click)=" logout()" routerLink="/index" ><i nz-icon nzType="logout" nzTheme="outline"></i>Đăng
                  xuất</a></li>
            </ul>
          </nz-dropdown-menu>
        </div>
      </div>
    </nz-header>
    <nz-content style="overflow-y: auto;overflow-x: hidden;scrollbar-width: none;">
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
