<main class="main">
  <div
    class="page-header text-center"
    style="background-image: url('assets/images/page-header-bg.jpg')"
  >
    <div class="container">
      <h1 class="page-title">
        {{ShowTitle.title}}<span>{{ShowTitle.subTitle}}</span>
      </h1>
    </div>
  </div>
  <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ShowTitle.title}}</li>
      </ol>
    </div>
  </nav>

  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="toolbox">
            <div class="toolbox-right">
              <div class="toolbox-sort">
                <label for="sortby">Giá:</label>
                <div class="select-custom">
                  <select
                    name="sortby"
                    id="sortby"
                    [(ngModel)]="selectsort"
                    (ngModelChange)="sortchange()"
                    class="form-control"
                  >
                    <option value="" disabled>Giá đề xuất</option>
                    <option value="0">
                      Giá Thấp
                      <i nz-icon nzType="arrow-right" nzTheme="outline"></i> Cao
                    </option>
                    <option value="1">
                      Giá Cao
                      <i nz-icon nzType="arrow-right" nzTheme="outline"></i>
                      Thấp
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <app-product-item [sizeList]="0"></app-product-item>
        </div>
        <aside class="col-lg-3 order-lg-first">
          <div class="sidebar sidebar-shop">
            <div class="widget widget-clean">
              <label>Lọc:</label>
              <a (click)="reload()" class="sidebar-filter-clear">Clean All</a>
            </div>

            <div class="widget widget-collapsible">
              <h3 class="widget-title">
                <a
                  data-toggle="collapse"
                  href="#widget-1"
                  role="button"
                  aria-expanded="true"
                  aria-controls="widget-1"
                >
                  Thương hiệu
                </a>
              </h3>

              <div class="collapse show" id="widget-1">
                <div class="widget-body">
                  <div class="filter-items filter-items-count">
                    <div class="filter-item" *ngFor="let item of brandList">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="cat-{{ item.id }}"
                          (click)="sortchange(3)"
                        />
                        <label
                          class="custom-control-label"
                          for="cat-{{ item.id }}"
                          >{{ item.name }}</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="widget widget-collapsible">
              <h3 class="widget-title">
                <a
                  data-toggle="collapse"
                  href="#widget-2"
                  role="button"
                  aria-expanded="true"
                  aria-controls="widget-2"
                >
                  Kiểu dáng
                </a>
              </h3>

              <div class="collapse show" id="widget-2">
                <div class="widget-body">
                  <div class="filter-items">
                    <div class="filter-item" *ngFor="let item of genderList">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="gen-{{ item.id }}"
                          (click)="sortchange(3)"
                        />
                        <label
                          class="custom-control-label"
                          for="gen-{{ item.id }}"
                          >{{ item.name }}</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
         <div class="widget widget-collapsible">
              <h3 class="widget-title">
                <a
                  data-toggle="collapse"
                  href="#widget-4"
                  role="button"
                  aria-expanded="true"
                  aria-controls="widget-4"
                >
                  Chất liệu
                </a>
              </h3>

              <div class="collapse show" id="widget-4">
                <div class="widget-body">
                  <div class="filter-items">
                    <div class="filter-item" *ngFor="let item of typeList">
                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="tp-{{ item.id }}"
                          (click)="sortchange(3)"
                        />
                        <label
                          class="custom-control-label"
                          for="tp-{{ item.id }}"
                          >{{ item.name }}</label
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </aside>
      </div>
    </div>
  </div>
</main>
