<div class="row justify-content-center">
  <div
    class="col-6 col-md-4 col-lg-3 pro-{{ i }}"
    *ngFor="
      let item of getData | paginate: { itemsPerPage: 12, currentPage: p };
      index as i
    "
  >
    <div class="product product-2 cart-item">
      <figure style="background: #fff" class="product-media">
        <a>
          <img
            style="width: auto; height: 270px; margin: 0 auto"
            nz-image
            nzSrc="{{ item.images }}"
            alt="Product image"
            class="product-image"
          />
        </a>
        <div class="product-action-vertical">
          <a
            [routerLink]="['/product']"
            class="btn-product-icon btn-wishlist"
            title="Add to wishlist"
          ></a>
        </div>
        <div class="product-action">
          <a
            (click)="addToCart(item, 0)"
            class="btn-product"
            title="Thêm giỏ hàng"
            ><i
              nz-icon
              nzType="shopping-cart"
              class="mr-2"
              nzTheme="outline"
            ></i
            ><span>Thêm giỏ hàng</span></a
          >
          <a (click)="addToCart(item, 1)" class="btn-product" title="Mua ngay"
            ><i nz-icon nzType="dollar" class="mr-2" nzTheme="outline"></i
            ><span>Mua</span></a
          >
        </div>
      </figure>
      <div class="product-body">
        <div class="product-cat">
          <a [routerLink]="['/products']">{{ item.brand.name }}</a>
        </div>
        <h3 class="product-title">
          <a
            id="product-name-customize"
            title="{{ item.name }}"
            (click)="onRouter(item.id)"
            >{{ item.name }}</a
          >
        </h3>
        <div class="product-price">
          {{ item.price_new | currency: "đ ":"symbol":"1.0-0" }}
        </div>
        <div class="product-nav product-nav-dots"></div>
      </div>
    </div>
  </div>
</div>
<pagination-controls
  *ngIf="!hPage"
  (pageChange)="p = $event"
></pagination-controls>
<div *ngIf="isloading" class="d-flex flex-row justify-content-between">

  <ng-container [ngTemplateOutlet]="name"></ng-container>
  <ng-container [ngTemplateOutlet]="name"></ng-container>
  <ng-container [ngTemplateOutlet]="name"></ng-container>
  <ng-container [ngTemplateOutlet]="name"></ng-container>

</div>
<ng-template #name>
  <div style="flex: 1; margin: 0 4px; height: 320px; border: 1px solid #eee">
    <nz-skeleton-element
      class="imgProduct"
      nzType="image"
      [nzActive]="elementActive"
    ></nz-skeleton-element>
    <nz-skeleton
      [nzActive]="true"
      style="padding: 4px"
      [nzParagraph]="{ rows: 2 }"
    ></nz-skeleton>
  </div>
</ng-template>
