<nz-modal
      [(nzVisible)]="isVisible"
      nzTitle="Thêm mới nhãn hiệu"
      nzCentered
      nzWidth="500px"
      (nzOnCancel)="handleCancelMiddle()"
      (nzOnOk)="handleOkMiddle()"
    >
      <ng-container *nzModalContent>
        <div nz-row class="mb-2">
          <div nz-col nzFlex="2">Tên nhãn hiệu:</div>
          <div nz-col nzFlex="3"> <input nz-input placeholder="- - -Nhập tên nhãn hiệu- - -" [(ngModel)]="value" /></div>
        </div>
        <div nz-row>
          <div nz-col nzFlex="2">
  <nz-upload
          nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          nzListType="picture-card"
          [(nzFileList)]="fileList"
          [nzShowButton]="true"
          [nzPreview]="handlePreview"
          [nzTransformFile]="transformFile"
          [nzAccept]="'image/png, image/jpeg'"
          [nzFileType]="'image/png,image/jpeg'"
          [nzMultiple]="false"
          [nzLimit]="1"
        >
          <div>
            <i nz-icon nzType="plus"></i>
            <div style="margin-top: 8px">Tải ảnh</div>
          </div>
        </nz-upload>
          </div>
          <div nz-col nzFlex="3">
            <img nz-image *ngIf="loading" [src]="fb" [ngStyle]="{ width: '150px' }" onerror="this.src='../../../../assets/image/brand.svg'" />
            <i nz-icon *ngIf="!loading" [nzType]="'sync'" [nzSpin]="true"></i>
          </div>
        </div>
      </ng-container>
    </nz-modal>

