<main class="main">
  <div
    class="page-header text-center"
    style="background-image: url('assets/images/page-header-bg.jpg')"
  >
    <div class="container">
      <h1 class="page-title">Đơn hàng<span> của tôi</span></h1>
    </div>
    <!-- End .container -->
  </div>
  <!-- End .page-header -->
  <nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Shop</a></li>
        <li class="breadcrumb-item active" aria-current="page">my order</li>
      </ol>
    </div>
    <!-- End .container -->
  </nav>
  <!-- End .breadcrumb-nav -->

  <div class="page-content">
    <div class="checkout">
      <div class="container bg-bor" style="max-height: 500px;overflow: auto;">
        <nz-steps
          [nzCurrent]="current"
          nzSize="small"
          class="m-3"
          (nzIndexChange)="onIndexChange($event)"
        >
          <nz-step nzTitle="Chờ xác nhận"></nz-step>
          <nz-step nzTitle="Đang đóng gói"></nz-step>
          <nz-step nzTitle="Đang giao hàng"></nz-step>
          <nz-step nzTitle="Đã thanh toán"></nz-step>
          <nz-step nzTitle="Đã hủy"></nz-step>
        </nz-steps>
        <table class="table table-cart table-mobile">
          <thead>
            <tr>
              <th>Sản phẩm</th>
              <th>Giá</th>
              <th>Số lượng</th>
              <th>Tổng tiền</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr class="card-3 p-2"  *ngFor="let item of datashow,index as i">
              <td class="product-col">
                <div class="product">
                  <figure class="product-media">
                    <a>
                      <img
                        nz-image
                        nzSrc=" {{item.product.images}}"
                        alt="Product image"
                      />
                    </a>
                  </figure>

                  <h3 class="product-title">
                    <a>{{ item.product.name}} </a>
                  </h3>
                </div>
              </td>
              <td class="price-col">
                {{item.price_final | currency: "đ":"symbol":"1.0-0"}}
              </td>
              <td class="quantity-col">
               <b>{{item.quantity}}</b>
              </td>
              <td class="total-col">
                <span> {{item.total_item | currency: "đ":"symbol":"1.0-0"}} </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- End .container -->
    </div>
    <!-- End .checkout -->
  </div>
  <!-- End .page-content -->
</main>
<!-- End .main -->
