[nz-carousel-content] {
  text-align: center;
  height: 160px;
  line-height: 160px;
  color: #fff;
  overflow: hidden;
}
.Bsubtitle{
  font-size: 28px !important;
  color: rgb(160, 160, 160);
}
.Btitle{
  font-size: 36px !important;
  color: #fff;
}
.BtnSN{
  font-size: 20px;
}


