<main class="main">
  <div class="container mt-2 mb-2" style="height: 500px">
    <nz-carousel nzAutoPlay>
      <div nz-carousel-content>
        <img
          style="margin: 0 auto"
          src="assets/images/demos/demo-22/slider/slide-2.jpg"
          alt=""
        />
      </div>
      <div nz-carousel-content>
        <img
          style="margin: 0 auto"
          src="assets/images/demos/demo-22/slider/slide-1.jpg"
          alt=""
        />
      </div>
      <div nz-carousel-content>
        <img
          style="margin: 0 auto"
          src="assets/images/demos/demo-22/slider/banner-3.jpg"
          alt=""
        />
      </div>
      <div nz-carousel-content>
        <img
          style="margin: 0 auto"
          src="assets/images/demos/demo-22/slider/banner-2.jpg"
          alt=""
        />
      </div>
    </nz-carousel>
  </div>
  <div class="container">
    <h2 class="title text-center mb-4">Khám phá thương hiệu</h2>

    <app-brands></app-brands>
  </div>

  <div class="mb-4"></div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <div class="banner banner-overlay banner-overlay-light">
          <a [routerLink]="['/product']">
            <img
              nz-image
              nzSrc="assets/images/demos/demo-4/banners/banner-1.png"
              alt="Banner"
            />
          </a>

        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="banner banner-overlay banner-overlay-light">
          <a [routerLink]="['/products']">
            <img
              nz-image
              nzSrc="assets/images/demos/demo-4/banners/banner-2.jpg"
              alt="Banner"
            />
          </a>

        </div>
      </div>

      <div class="col-md-6 col-lg-4">
        <div class="banner banner-overlay banner-overlay-light">
          <a [routerLink]="['/products']">
            <img
              nz-image
              nzSrc="assets/images/demos/demo-4/banners/banner-3.png"
              alt="Banner"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="mb-5"></div>
  <div class="container for-you">
    <div class="heading heading-flex mb-3">
      <div class="heading-left">
        <h2 class="title">Đề xuất cho bạn</h2>
      </div>

      <div class="heading-right">
        <a routerLink="/products" class="title-link"
          >Hiển thị tất cả đề xuất <i class="icon-long-arrow-right"></i
        ></a>
      </div>
    </div>

    <div class="products">
      <app-product-item [sizeList]="8"></app-product-item>
    </div>
  </div>

  <div class="mb-6"></div>

  <div class="container">
    <div
      class="cta cta-border mb-5"
      style="background-image: url(assets/images/demos/demo-4/bg-1.jpg)"
    >
      <img
        style="height: 152px"
        src="https://static.wixstatic.com/media/2cd43b_70674f11a01e43f19366ee72aee4b8bb~mv2.png/v1/fill/w_320,h_507,q_90/2cd43b_70674f11a01e43f19366ee72aee4b8bb~mv2.png"
        alt="camera"
        class="cta-img"
      />
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="cta-content">
            <div class="cta-text text-right text-white">
              <p>
                Mua sắm các ưu đãi của hôm nay <br />
                <strong> Tuyệt vời được thực hiện dễ dàng. DraGon Đen </strong>
              </p>
            </div>
            <a [routerLink]="['/products']" class="btn btn-primary btn-round">
              <span> Mua ngay - $ 429,99 </span>
              <i class="icon-long-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="heading text-center mb-3">
      <h2 class="title">Ưu đãi & Cửa hàng</h2>
      <p class="title-desc">Ưu đãi của hôm nay và hơn thế nữa</p>
    </div>

    <div class="row">
      <div class="col-lg-6 deal-col">
        <div
          class="deal"
          style="
            background-image: url('assets/images/demos/demo-4/deal/bg-1.jpg');
          "
        >


          <div class="deal-bottom">
            <div
              class="deal-countdown daily-deal-countdown"
              data-until="+10h"
            ></div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 deal-col">
        <div
          class="deal"
          style="
            background-image: url('assets/images/demos/demo-4/deal/bg-2.jpg');
          "
        >


          <div class="deal-bottom">
            <div class="deal-countdown offer-countdown" data-until="+11d"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="more-container text-center mt-1 mb-5">
      <a
        [routerLink]="['/product']"
        class="btn btn-outline-dark-2 btn-round btn-more"
        ><span>Mua thêm Outlet giao dịch</span
        ><i class="icon-long-arrow-right"></i
      ></a>
    </div>
  </div>
  <div class="container">
    <app-brands></app-brands>
  </div>

  <div class="icon-boxes-container bg-transparent">
    <div class="container" style="background: #fff; border-radius: 10px">
      <div class="row">
        <div class="col-sm-6 col-lg-3">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon text-dark">
              <i class="icon-rocket"></i>
            </span>
            <div class="icon-box-content">
              <h3 class="icon-box-title">Giao hàng miễn phí</h3>
              <p>Đơn đặt hàng từ $ 50 trở lên</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon text-dark">
              <i class="icon-rotate-left"></i>
            </span>

            <div class="icon-box-content">
              <h3 class="icon-box-title">Trả hàng Miễn phí</h3>
              <p>Trong vòng 30 ngày</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon text-dark">
              <i class="icon-info-circle"></i>
            </span>

            <div class="icon-box-content">
              <h3 class="icon-box-title">Được giảm giá 20% cho 1 mặt hàng</h3>
              <p>khi bạn đăng ký</p>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-3">
          <div class="icon-box icon-box-side">
            <span class="icon-box-icon text-dark">
              <i class="icon-life-ring"></i>
            </span>

            <div class="icon-box-content">
              <h3 class="icon-box-title">Chúng tôi hỗ trợ</h3>
              <p>Dịch vụ tuyệt vời 24/7</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
