<nz-modal
  [(nzVisible)]="isVisible"
  [nzTitle]="title"
  nzCentered
  nzWidth="1400px"
  (nzOnCancel)="handleCancelMiddle()"
  (nzOnOk)="handleOkMiddle()"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="productForm" (ngSubmit)="handleOkMiddle()">
    <div nz-row>
      <div nz-col nzSpan="24" >
          <nz-form-item>
            <nz-form-label nzFlex="1" nzRequired nzFor="name">Tên sản phẩm</nz-form-label>
            <nz-form-control nzFlex="10" nzErrorTip="Vui lòng nhập têm sản phẩm!">
              <input id="name" type="text"  placeholder="- - -Nhập tên sản phẩm - - -" nz-input formControlName="name" />
            </nz-form-control>
          </nz-form-item>
      </div>
      <div nz-col nzSpan="8" class="mb-2">
        <nz-form-item>
          <nz-form-label nzFlex="3" nzRequired nzFor="price_old">Giá gốc</nz-form-label>
          <nz-form-control nzFlex="8" nzErrorTip="Vui lòng nhập giá gốc!">
            <input id="price_old" type="number"  placeholder="- - -Nhập giá gốc- - -" nz-input formControlName="price_old" />
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8" class="mb-2">
        <nz-form-item>
          <nz-form-label nzFlex="3" nzRequired nzFor="percent">Giảm</nz-form-label>
          <nz-form-control nzFlex="8" nzErrorTip="Vui lòng nhập số giảm giá sản phẩm!">
            <nz-input-group  nzCompact class="d-flex">
              <nz-select id="percent" formControlName="percent">
                <nz-option [nzLabel]="'%'" [nzValue]="0"></nz-option>
                <nz-option [nzLabel]="'Tiền'" [nzValue]="1"></nz-option>
              </nz-select>
              <input
                type="number"
                nz-input
                placeholder="- - -Nhập số giảm- - -"
                formControlName="soGiam"

              />
            </nz-input-group> </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8" class="mb-2">
        <nz-form-item>
          <nz-form-label nzFlex="3" nzRequired nzFor="gender_id">Kiểu dáng</nz-form-label>
          <nz-form-control nzFlex="8" nzErrorTip="Vui lòng nhập kiểu đáng sản phẩm!">
            <nz-select
              nzShowSearch
              nzAllowClear
              style="width: 100%"
              id="gender_id"
              formControlName="gender_id"
              nzPlaceHolder="- - -Vui lòng chọn- - -"
            >
              <nz-option
                *ngFor="let item of genders"
                nzValue="{{ item.id }}"
                nzLabel="{{ item.name }}"
              ></nz-option>
            </nz-select>  </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8" class="mb-2">
        <nz-form-item>
          <nz-form-label nzFlex="3" nzRequired nzFor="type_id">Chất liệu</nz-form-label>
          <nz-form-control nzFlex="8" nzErrorTip="Vui lòng chọn chất liệu cho sản phẩm!">
            <nz-select
              nzShowSearch
              nzAllowClear
              style="width: 100%"
              id="type_id"
              formControlName="type_id"
              nzPlaceHolder="- - -Vui lòng chọn- - -"
            >
              <nz-option
                *ngFor="let item of types"
                nzValue="{{ item.id }}"
                nzLabel="{{ item.name }}"
              ></nz-option>
            </nz-select>  </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8" class="mb-2">
        <nz-form-item>
          <nz-form-label nzFlex="3" nzRequired nzFor="color_id">Màu</nz-form-label>
          <nz-form-control nzFlex="8" nzErrorTip="Vui lòng loại màu cho sản phẩm!">
            <nz-select
              nzShowSearch
              nzAllowClear
              style="width: 100%"
              id="color_id"
              formControlName="color_id"
              nzPlaceHolder="- - -Vui lòng chọn- - -"
            >
              <nz-option
                *ngFor="let item of colors"
                nzValue="{{ item.id }}"
                nzLabel="{{ item.name }}"
              ></nz-option>
            </nz-select>  </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="8" class="mb-2">
        <nz-form-item>
          <nz-form-label nzFlex="3" nzRequired nzFor="brand_id">Nhãn hiệu</nz-form-label>
          <nz-form-control nzFlex="8" nzErrorTip="Vui lòng chọn nhãn hiệu cho sản phẩm!">
            <nz-select
              nzShowSearch
              nzAllowClear
              style="width: 100%"
              id="brand_id"
              formControlName="brand_id"
              nzPlaceHolder="- - -Vui lòng chọn- - -"
            >
              <nz-option
                *ngFor="let item of brands"
                nzValue="{{ item.id }}"
                nzLabel="{{ item.name }}"
              ></nz-option>
            </nz-select>  </nz-form-control>
        </nz-form-item>
      </div>

    </div>
    <!-- nzFlex="2" class="d-flex" -->
    <div nz-row>
      <div nz-col nzFlex="2">
        <nz-upload
          nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
          nzListType="picture-card"
          [(nzFileList)]="fileList"
          [nzShowButton]="true"
          [nzPreview]="handlePreview"
          [nzTransformFile]="transformFile"
          [nzAccept]="'image/png, image/jpeg'"
          [nzFileType]="'image/png,image/jpeg'"
          [nzMultiple]="true"
        >
          <div>
            <i nz-icon nzType="plus"></i>
            <div style="margin-top: 8px">Tải ảnh</div>
          </div>
        </nz-upload>
      </div>
      <div nz-col nzFlex="3" *ngFor="let item of fb">
        <img nz-popover
        [nzPopoverContent]="contentTemplate" class="card-5 p-2" [src]="item" [ngStyle]="{ width: '150px' }" />
           <ng-template #contentTemplate>
        <a (click)="remove(item)">Xóa</a>
      </ng-template>
      </div>

    </div>
    <!-- <pre>{{productForm.value |json}}</pre> -->
    <angular-editor
      [(ngModel)]="htmlContent"
      [ngModelOptions]="{standalone: true}"
      [config]="config"
    ></angular-editor>
    <!-- <h5 class="html-header">HTML Output</h5> -->
    <!-- <div class="html">
      {{ htmlContent }}
    </div> -->
   </form>

  </ng-container>
</nz-modal>
