
<style>
  .img-button {
    height: 17px;
    margin-right: 5px;
    cursor: pointer;
  }
  .img-button :hover {
    cursor: pointer;
  }
</style>
<div nz-row nzJustify="center" nzAlign="middle" style="height: -webkit-fill-available;
">


<img
  class="img-button"
  src="../../../assets/tmp/img/button/icon_info.svg"
  *ngIf="params.data.infoGrantAccess"
  (click)="btnInfoClickedHandler($event)"
  alt="Chi tiết"
  title="Chi tiết"
/>



<img
  class="img-button"
  src="../../../assets/tmp/img/button/icon_edit.svg"
  *ngIf="params.data.editGrantAccess"
  (click)="btnEditClickedHandler($event)"
  alt="Chỉnh sửa"
  title="Chỉnh sửa"
/>


<img
  class="img-button"
  src="../../../assets/tmp/img/button/icon_plus.svg"
  *ngIf="params.data.addGrantAccess"
  (click)="btnAddClickedHandler($event)"
  alt="Thêm dòng"
  title="Thêm dòng"
/>

<img
  class="img-button"
  src="../../../assets/tmp/img/button/icon_trash.svg"
  *ngIf="params.data.deleteGrantAccess"
  alt="Xóa"
  title="Xóa"
  nz-popconfirm
  nzPopconfirmTitle="Bạn có chắc chắn muốn xóa không?"
  (nzOnConfirm)="btnDeleteClickedHandler($event)"
/>

<img
  class="img-button"
  src="../../../assets/tmp/img/button/printer.svg"
  *ngIf="params.data.printGrantAccess"
  alt="in"
  title="in"
  nz-popconfirm
  nzPopconfirmTitle="Bạn có chắc chắn muốn xuất hóa đơn không?"
  (nzOnConfirm)="btnprintClickedHandler($event)"
/>

</div>
