<nz-card class="card-header mb-2">
  <div nz-row class="header">
    <div nz-col nzSpan="12">
      <h4 class="title-card mb-1">Danh sách</h4>
      <nz-breadcrumb>
        <nz-breadcrumb-item routerLink="/dashboard">
          <i nz-icon nzType="home"></i>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a>
            <i nz-icon nzType="user"></i>
            <span>Danh sách danh mục</span>
          </a>
        </nz-breadcrumb-item>
        <!-- <nz-breadcrumb-item>Application</nz-breadcrumb-item> -->
      </nz-breadcrumb>
    </div>
  </div>
</nz-card>

<div class="inner-content" nz-row>
  <div nz-col  nzFlex="1" class="m-2 card-5 p-1 " style="height: 100%;">
    <app-gender-list></app-gender-list>
  </div>
  <div nz-col  nzFlex="1" class="m-2 card-5 p-1 " style="height: 100%;">
  <app-type-list></app-type-list>

  </div>
  <div nz-col  nzFlex="1" class="m-2 card-5 p-1 " style="height: 100%;">
  <app-color-list></app-color-list>
  </div>

</div>


