<main class="main">
  <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container d-flex align-items-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Trang chủ</a></li>
        <li class="breadcrumb-item"><a href="#">Sảm phẩm</a></li>
        <li class="breadcrumb-item active" aria-current="page">Chi tiết</li>
      </ol>

      <nav class="product-pager ml-auto" aria-label="Product">
        <a
          class="product-pager-link product-pager-prev"
          routerLink="/product/{{ +id - 1 }}"
          aria-label="Previous"
          tabindex="-1"
        >
          <i class="icon-angle-left"></i>
          <span>Trước</span>
        </a>

        <a
          class="product-pager-link product-pager-next"
          routerLink="/product/{{ +id + 1 }}"
          aria-label="Next"
          tabindex="-1"
        >
          <span>Sau</span>
          <i class="icon-angle-right"></i>
        </a>
      </nav>
      <!-- End .pager-nav -->
    </div>
    <!-- End .container -->
  </nav>
  <!-- End .breadcrumb-nav -->

  <div class="page-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <div class="product-details-top bg-bor p-3">
            <div class="row">
              <div class="col-md-6">
                <div class="product-gallery">
                  <figure class="product-main-image" style="width: 420px;height: 420px">
                    <!-- <span class="">Top</span> -->
                    <a
                    (click)="onClick()"
                    id="btn-product-gallery"
                    class="btn-product-gallery product-label label-top"
                  >
                    <i class="icon-arrows"></i>
                  </a>
                    <img
                      id="product-zoom"
                      src="{{imageItem}}"
                      data-zoom-image="assets/images/products/single/sidebar-gallery/1-big.jpg"
                      alt="product image"
                      style="max-height: 100% !important;max-width: 100%;width: initial;;margin: 0 auto;"
                    />


                  </figure>
                  <!-- End .product-main-image -->

                  <div id="product-zoom-gallery" class="product-image-gallery d-flex" >
                    <a
                      class="product-gallery-item active"
                      *ngFor="let item of image"
                      (click)="changeImgae(item?.src)"
                    >
                      <img
                        nz-image
                        nzSrc="{{item?.src}}"
                        alt="product side"

                      />
                    </a>

                  </div>
                  <!-- End .product-image-gallery -->
                </div>
                <!-- End .product-gallery -->
              </div>
              <!-- End .col-md-6 -->

              <div class="col-md-6">
                <div class="product-details product-details-sidebar">
                  <h1 class="product-title">{{ this.dataProduct?.name }}</h1>
                  <!-- End .product-title -->

                  <div class="ratings-container">
                    <div class="ratings">
                      <div class="ratings-val" style="width: 80%"></div>
                      <!-- End .ratings-val -->
                    </div>
                    <!-- End .ratings -->
                    <a
                      class="ratings-text"
                      href="#product-review-link"
                      id="review-link"
                      >( 2 Reviews )</a
                    >
                  </div>
                  <!-- End .rating-container -->

                  <div class="product-price">
                    <span>
                      {{
                        this.dataProduct?.price_new
                          | currency: "đ ":"symbol":"1.0-0"
                      }}</span
                    >
                    <span
                      style="
                        font-size: 16px;
                        margin-left: 8px;
                        color: #ff99ffe8;
                      "
                      ><del>{{
                        this.dataProduct?.price_old
                          | currency: "đ ":"symbol":"1.0-0"
                      }}</del></span
                    >
                  </div>
                  <!-- End .product-price -->

                  <div class="details-filter-row details-row-size">
                    <label style="width: auto !important;">Màu: <span style="opacity: .7;">{{dataProduct?.colorWatch?.name}}</span></label>
                  </div>
                  <!-- End .details-filter-row -->

                  <!-- <div class="details-filter-row details-row-size">
                    <label for="size">Size:</label>
                    <div class="select-custom">
                      <select name="size" id="size" class="form-control">
                        <option value="#" selected="selected">
                          Select a size
                        </option>
                        <option value="s">Small</option>
                        <option value="m">Medium</option>
                        <option value="l">Large</option>
                        <option value="xl">Extra Large</option>
                      </select>
                    </div>

                    <a class="size-guide"
                      ><i class="icon-th-list"></i>size guide</a
                    >
                  </div> -->
                  <!-- End .details-filter-row -->

                  <div class="product-details-action">
                    <div class="details-action-col">
                      <label for="qty">Số lượng:</label>
                      <div class="product-details-quantity">
                        <input
                          type="number"
                          id="qty"
                          class="form-control"
                          value="1"
                          min="1"
                          max="10"
                          step="1"
                          data-decimals="0"
                          required
                        />
                      </div>

                    </div>
                    <!-- End .details-action-col -->

                    <div class="details-action-wrapper">
                      <a (click)="addToCart(dataProduct,0)" class="btn btn-outline-dark-3 mr-2"
                      ><span>Thêm giỏ hàng</span
                      ><i nz-icon nzType="shopping-cart" class="mr-2"  nzTheme="outline"></i></a>
                    <a (click)="addToCart(dataProduct,1)" class="btn btn-outline-dark-3"
                    ><span>Mua ngay</span
                    ><i nz-icon nzType="dollar" class="mr-2"  nzTheme="outline"></i></a>
                    </div>
                    <!-- End .details-action-wrapper -->
                  </div>
                  <!-- End .product-details-action -->

                  <div class="product-details-footer details-footer-col">
                    <div class="product-cat">
                      <span>Danh mục:</span>
                      <a routerLink="/products">{{dataProduct?.typeWatch?.name}}</a>, <a routerLink="/products">{{dataProduct?.genderWatch?.name}}</a>,

                    </div>
                    <!-- End .product-cat -->

                    <div class="social-icons social-icons-sm">
                      <span class="social-label">Share:</span>
                      <a class="social-icon" title="Facebook" target="_blank"
                        ><i class="icon-facebook-f"></i
                      ></a>
                      <a class="social-icon" title="Twitter" target="_blank"
                        ><i class="icon-twitter"></i
                      ></a>
                      <a class="social-icon" title="Instagram" target="_blank"
                        ><i class="icon-instagram"></i
                      ></a>
                      <a class="social-icon" title="Pinterest" target="_blank"
                        ><i class="icon-pinterest"></i
                      ></a>
                    </div>
                  </div>
                  <!-- End .product-details-footer -->
                </div>
                <!-- End .product-details -->
              </div>
              <!-- End .col-md-6 -->
            </div>
            <!-- End .row -->
          </div>
          <!-- End .product-details-top -->

          <div class="product-details-tab bg-bor p-3 mt-2">
            <ul class="nav nav-pills justify-content-center" role="tablist">
              <li class="nav-item">
                <a
                  class="nav-link active"
                  id="product-desc-link"
                  data-toggle="tab"
                  href="#product-desc-tab"
                  role="tab"
                  aria-controls="product-desc-tab"
                  aria-selected="true"
                  >Mô tả</a
                >
              </li>
              <!-- <li class="nav-item">
                <a
                  class="nav-link"
                  id="product-info-link"
                  data-toggle="tab"
                  href="#product-info-tab"
                  role="tab"
                  aria-controls="product-info-tab"
                  aria-selected="false"
                  >Additional information</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="product-shipping-link"
                  data-toggle="tab"
                  href="#product-shipping-tab"
                  role="tab"
                  aria-controls="product-shipping-tab"
                  aria-selected="false"
                  >Shipping & Returns</a
                >
              </li> -->
              <li class="nav-item">
                <a
                  class="nav-link"
                  id="product-review-link"
                  data-toggle="tab"
                  href="#product-review-tab"
                  role="tab"
                  aria-controls="product-review-tab"
                  aria-selected="false"
                  >Đánh giá (2)</a
                >
              </li>
            </ul>
            <div class="tab-content">
              <div
                class="tab-pane fade show active"
                id="product-desc-tab"
                role="tabpanel"
                aria-labelledby="product-desc-link"
              >
                <div class="product-desc-content" style="max-height: 500px; overflow: auto;">
                  <div innerHTML="{{ dataProduct?.description }}"></div>
                </div>
                <!-- End .product-desc-content -->
              </div>
              <!-- .End .tab-pane -->
              <div
                class="tab-pane fade"
                id="product-info-tab"
                role="tabpanel"
                aria-labelledby="product-info-link"
              >
                <div class="product-desc-content">
                  <h3>Information</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
                    Donec odio. Quisque volutpat mattis eros. Nullam malesuada
                    erat ut turpis. Suspendisse urna viverra non, semper
                    suscipit, posuere a, pede. Donec nec justo eget felis
                    facilisis fermentum. Aliquam porttitor mauris sit amet orci.
                  </p>

                  <h3>Fabric & care</h3>
                  <ul>
                    <li>Faux suede fabric</li>
                    <li>Gold tone metal hoop handles.</li>
                    <li>RI branding</li>
                    <li>Snake print trim interior</li>
                    <li>Adjustable cross body strap</li>
                    <li>
                      Height: 31cm; Width: 32cm; Depth: 12cm; Handle Drop: 61cm
                    </li>
                  </ul>

                  <h3>Size</h3>
                  <p>one size</p>
                </div>
                <!-- End .product-desc-content -->
              </div>
              <!-- .End .tab-pane -->
              <div
                class="tab-pane fade"
                id="product-shipping-tab"
                role="tabpanel"
                aria-labelledby="product-shipping-link"
              >
                <div class="product-desc-content">
                  <h3>Delivery & returns</h3>
                  <p>
                    We deliver to over 100 countries around the world. For full
                    details of the delivery options we offer, please view our
                    <a href="#">Delivery information</a><br />
                    We hope you’ll love every purchase, but if you ever need to
                    return an item you can do so within a month of receipt. For
                    full details of how to make a return, please view our
                    <a href="#">Returns information</a>
                  </p>
                </div>
                <!-- End .product-desc-content -->
              </div>
              <!-- .End .tab-pane -->
              <div
                class="tab-pane fade"
                id="product-review-tab"
                role="tabpanel"
                aria-labelledby="product-review-link"
              >
                <div class="reviews">
                  <h3>Reviews (2)</h3>
                  <div class="review">
                    <div class="row no-gutters">
                      <div class="col-auto">
                        <h4><a href="#">Samanta J.</a></h4>
                        <div class="ratings-container">
                          <div class="ratings">
                            <div class="ratings-val" style="width: 80%"></div>
                            <!-- End .ratings-val -->
                          </div>
                          <!-- End .ratings -->
                        </div>
                        <!-- End .rating-container -->
                        <span class="review-date">6 days ago</span>
                      </div>
                      <!-- End .col -->
                      <div class="col">
                        <h4>Good, perfect size</h4>

                        <div class="review-content">
                          <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit. Ducimus cum dolores assumenda asperiores
                            facilis porro reprehenderit animi culpa atque
                            blanditiis commodi perspiciatis doloremque,
                            possimus, explicabo, autem fugit beatae quae
                            voluptas!
                          </p>
                        </div>
                        <!-- End .review-content -->

                        <div class="review-action">
                          <a href="#"
                            ><i class="icon-thumbs-up"></i>Helpful (2)</a
                          >
                          <a href="#"
                            ><i class="icon-thumbs-down"></i>Unhelpful (0)</a
                          >
                        </div>
                        <!-- End .review-action -->
                      </div>
                      <!-- End .col-auto -->
                    </div>
                    <!-- End .row -->
                  </div>
                  <!-- End .review -->

                  <div class="review">
                    <div class="row no-gutters">
                      <div class="col-auto">
                        <h4><a href="#">John Doe</a></h4>
                        <div class="ratings-container">
                          <div class="ratings">
                            <div class="ratings-val" style="width: 100%"></div>
                            <!-- End .ratings-val -->
                          </div>
                          <!-- End .ratings -->
                        </div>
                        <!-- End .rating-container -->
                        <span class="review-date">5 days ago</span>
                      </div>
                      <!-- End .col -->
                      <div class="col">
                        <h4>Very good</h4>

                        <div class="review-content">
                          <p>
                            Sed, molestias, tempore? Ex dolor esse iure hic
                            veniam laborum blanditiis laudantium iste amet. Cum
                            non voluptate eos enim, ab cumque nam, modi, quas
                            iure illum repellendus, blanditiis perspiciatis
                            beatae!
                          </p>
                        </div>
                        <!-- End .review-content -->

                        <div class="review-action">
                          <a href="#"
                            ><i class="icon-thumbs-up"></i>Helpful (0)</a
                          >
                          <a href="#"
                            ><i class="icon-thumbs-down"></i>Unhelpful (0)</a
                          >
                        </div>
                        <!-- End .review-action -->
                      </div>
                      <!-- End .col-auto -->
                    </div>
                    <!-- End .row -->
                  </div>
                  <!-- End .review -->
                </div>
                <!-- End .reviews -->
              </div>
              <!-- .End .tab-pane -->
            </div>
            <!-- End .tab-content -->
          </div>
          <!-- End .product-details-tab -->
        </div>
        <!-- End .col-lg-9 -->

        <aside class="col-lg-3 bg-bor p-3 ">
          <div class="sidebar sidebar-product">
            <div class="widget widget-products">
              <h4 class="widget-title">Sản phẩm liên quan</h4>
              <!-- End .widget-title -->

              <div class="products">
                <div class="product product-sm">
                  <figure class="product-media">
                    <a >
                      <img
                        nz-image
                        nzSrc="assets/images/products/single/sidebar/1.jpg"
                        alt="Product image"
                        class="product-image"
                      />
                    </a>
                  </figure>

                  <div class="product-body">
                    <h5 class="product-title">
                      <a  >QUARTZ DIAMOND GOLD DIAL WATCH </a
                      >
                    </h5>
                    <!-- End .product-title -->
                    <div class="product-price">
                      <span class="new-price">$50.00</span>
                      <span class="old-price">$110.00</span>
                    </div>
                    <!-- End .product-price -->
                  </div>
                  <!-- End .product-body -->
                </div>
                <!-- End .product product-sm -->
              </div>
              <!-- End .products -->

              <a routerLink="/products" class="btn btn-outline-dark-3"
                ><span>Xem thêm sản phẩm</span
                ><i class="icon-long-arrow-right"></i
              ></a>
            </div>
            <!-- End .widget widget-products -->

            <div class="widget widget-banner-sidebar">
              <div class="banner-sidebar-title">ad box 280 x 280</div>
              <!-- End .ad-title -->

              <div class="banner-sidebar banner-overlay">
                <a href="#">
                  <img
                    nz-image
                    nzSrc="assets/images/blog/sidebar/banner.jpg"
                    alt="banner"
                  />
                </a>
              </div>
              <!-- End .banner-ad -->
            </div>
            <div class="widget widget-banner-sidebar">
              <div class="banner-sidebar-title">ad box 280 x 280</div>
              <!-- End .ad-title -->

              <div class="banner-sidebar banner-overlay">
                <a href="#">
                  <img
                    nz-image
                    nzSrc="assets/images/blog/sidebar/banner.jpg"
                    alt="banner"
                  />
                </a>
              </div>
              <!-- End .banner-ad -->
            </div>
            <div class="widget widget-banner-sidebar">
              <div class="banner-sidebar-title">ad box 280 x 280</div>
              <!-- End .ad-title -->

              <div class="banner-sidebar banner-overlay">
                <a href="#">
                  <img
                    nz-image
                    nzSrc="assets/images/blog/sidebar/banner.jpg"
                    alt="banner"
                  />
                </a>
              </div>
              <!-- End .banner-ad -->
            </div>

            <!-- End .widget -->
          </div>
          <!-- End .sidebar sidebar-product -->
        </aside>
        <!-- End .col-lg-3 -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .page-content -->
  <div class="container for-you bg-bor p-3 mb-2">
    <div class="heading heading-flex mb-3">
      <div class="heading-left">
        <h2 class="title">Đề xuất cho bạn</h2>
        <!-- End .title -->
      </div>
      <!-- End .heading-left -->
      <div class="heading-right">
        <a [routerLink]="['/products']" class="title-link"
          >Xem tất cả đề xuất<i class="icon-long-arrow-right"></i
        ></a>
      </div>
      <!-- End .heading-right -->
    </div>
    <!-- End .heading -->

    <div class="products">
      <app-product-item [sizeList]="4"></app-product-item>
      <!-- End .row -->
    </div>
    <!-- End .products -->
  </div>
  <!-- End .container -->
</main>
<!-- End .main -->
