
.product-desc-content::-webkit-scrollbar {
  width: 0;
}

/* Track */
.product-desc-content::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
.product-desc-content::-webkit-scrollbar-thumb {
  background: #fff;
}

/* Handle on hover */
.product-desc-content::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
