<div class="long-div" #divTarget>
  <div class="long-div-inner"></div>
  <div class="page-wrapper">
    <header class="header header-intro-clearance header-4">
      <div class="header-top">
        <div class="container">
          <div class="header-left">
            <a href="tel:0999999999"
              ><i class="icon-phone"></i>Liên hệ: 0999999999</a
            >
          </div>
          <div class="header-right">
            <nz-button-group *ngIf="this.islogin == '1'">
              <button nz-button>
                {{ user?.fullname }}
              </button>
              <button
                nz-button
                nz-dropdown
                [nzDropdownMenu]="menu"
                nzPlacement="bottomRight"
              >
                <i nz-icon nzType="user"></i>
              </button>
            </nz-button-group>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li
                  routerLink="/order"
                  *ngIf="user?.role.name == 'ROLE_ADMIN'"
                  nz-menu-item
                >
                  Kênh quản lý
                </li>
                <li nz-menu-item routerLink="/my-order">Đơn hàng của tôi</li>
                <li nz-menu-item>
                  <a href="#update-profile" data-toggle="modal">
                    Cài đặt tài khoản</a
                  >
                </li>
                <li nz-menu-divider></li>
                <li (click)="logout()" nz-menu-item>Đăng xuất</li>
              </ul>
            </nz-dropdown-menu>
            <a
              *ngIf="this.islogin != '1'"
              href="#signin-modal"
              data-toggle="modal"
              >Đăng nhập / Đăng ký{{ this.islogin }}</a
            >
          </div>
        </div>
      </div>

      <div class="header-middle">
        <div class="container">
          <div class="header-left">
            <button class="mobile-menu-toggler">
              <span class="sr-only">Mở menu</span>
              <i class="icon-bars"></i>
            </button>

            <a [routerLink]="['/index']" class="logo d-flex">
              <img
                nz-image
                nzSrc="assets/image/logo.svg"
                alt="Molla Logo"
                width="30"
                height="30"
              />
              <h4
                class="align-self-center m-0 ml-2"
                style="color: rgb(102, 71, 226)"
              >
                H2N
              </h4>
            </a>
          </div>
          <div class="header-center">
            <nz-input-group nzSize="large" [nzSuffix]="suffixIcon">
              <input
                placeholder="Seach in ..."
                nz-input
                [(ngModel)]="search"
                (input)="onInput($event)"
                [nzAutocomplete]="auto"
              />
            </nz-input-group>
            <ng-template #suffixIcon>
              <button nz-button nzType="primary" nzShape="circle">
                <i nz-icon nzType="search"></i>
              </button>
            </ng-template>
            <nz-autocomplete #auto>
              <nz-auto-optgroup
                *ngFor="let group of optionGroups | filter: search"
                [nzLabel]="groupTitle"
              >
                <ng-template #groupTitle>
                  <span>
                    {{ group.brand.name }}
                    <a class="more-link" routerLink="/products"
                      ><i nz-icon nzType="arrow-right" nzTheme="outline"></i
                    ></a>
                  </span>
                </ng-template>
                <nz-auto-option *ngIf="group.brand.name">
                  <a href="/product/{{ group.id }}">
                    {{ group.name }}
                  </a>
                  <span class="certain-search-item-count">{{
                    group.price_new | currency: "đ ":"symbol":"1.0-0"
                  }}</span>
                </nz-auto-option>
              </nz-auto-optgroup>
            </nz-autocomplete>
          </div>

          <div class="header-right">
            <app-product-rm-and-cart></app-product-rm-and-cart>
          </div>
        </div>
      </div>

      <div class="header-bottom sticky-header">
        <div class="container">
          <div class="header-left">
            <div class="dropdown category-dropdown">
              <a
                [routerLink]="['/products']"
                class="dropdown-toggle"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expand="false"
                data-display="static"
                title="Danh mục sản phẩm"
              >
                Danh mục sản phẩm<i class="icon-angle-down"> </i>
              </a>

              <div class="dropdown-menu">
                <nav class="side-nav">
                  <ul class="menu-vertical sf-arrows">
                    <li class="item-lead">
                      <a [routerLink]="['/products']"> Ưu đãi hàng ngày </a>
                    </li>
                    <li class="item-lead">
                      <a [routerLink]="['/products']"> Ý tưởng quà tặng </a>
                    </li>
                    <li>
                      <a [routerLink]="['/products']"> Đồng hồ dây da </a>
                    </li>
                    <li>
                      <a [routerLink]="['/products']"> Đồng hồ dây kim loại </a>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>

          <div class="header-center">
            <nav class="main-nav">
              <ul class="menu sf-arrows">
                <li
                  [routerLink]="['/index']"
                  routerLinkActive="active"
                  class="megamenu-container"
                >
                  <a class="sf-with-ul">Trang chủ</a>
                  <!-- <div class="megamenu demo">
                    <div class="menu-col">
                      <div class="menu-title">Choose your demo</div>

                      <div class="demo-list">
                        <div class="demo-item">
                          <a href="index-1.html">
                            <span
                              class="demo-bg"
                              style="
                                background-image: url(assets/images/menu/demos/1.jpg);
                              "
                            ></span>
                            <span class="demo-title">01 - furniture store</span>
                          </a>
                        </div>

                        <div class="demo-item">
                          <a href="index-2.html">
                            <span
                              class="demo-bg"
                              style="
                                background-image: url(assets/images/menu/demos/2.jpg);
                              "
                            ></span>
                            <span class="demo-title">02 - furniture store</span>
                          </a>
                        </div>

                        <div class="demo-item">
                          <a href="index-3.html">
                            <span
                              class="demo-bg"
                              style="
                                background-image: url(assets/images/menu/demos/3.jpg);
                              "
                            ></span>
                            <span class="demo-title"
                              >03 - electronic store</span
                            >
                          </a>
                        </div>

                        <div class="demo-item">
                          <a href="index-4.html">
                            <span
                              class="demo-bg"
                              style="
                                background-image: url(assets/images/menu/demos/4.jpg);
                              "
                            ></span>
                            <span class="demo-title"
                              >04 - electronic store</span
                            >
                          </a>
                        </div>

                        <div class="demo-item">
                          <a href="index-5.html">
                            <span
                              class="demo-bg"
                              style="
                                background-image: url(assets/images/menu/demos/5.jpg);
                              "
                            ></span>
                            <span class="demo-title">05 - fashion store</span>
                          </a>
                        </div>

                        <div class="demo-item">
                          <a href="index-6.html">
                            <span
                              class="demo-bg"
                              style="
                                background-image: url(assets/images/menu/demos/6.jpg);
                              "
                            ></span>
                            <span class="demo-title">06 - fashion store</span>
                          </a>
                        </div>

                        <div class="demo-item">
                          <a href="index-7.html">
                            <span
                              class="demo-bg"
                              style="
                                background-image: url(assets/images/menu/demos/7.jpg);
                              "
                            ></span>
                            <span class="demo-title">07 - fashion store</span>
                          </a>
                        </div>

                        <div class="demo-item">
                          <a href="index-8.html">
                            <span
                              class="demo-bg"
                              style="
                                background-image: url(assets/images/menu/demos/8.jpg);
                              "
                            ></span>
                            <span class="demo-title">08 - fashion store</span>
                          </a>
                        </div>

                        <div class="demo-item">
                          <a href="index-9.html">
                            <span
                              class="demo-bg"
                              style="
                                background-image: url(assets/images/menu/demos/9.jpg);
                              "
                            ></span>
                            <span class="demo-title">09 - fashion store</span>
                          </a>
                        </div>

                        <div class="demo-item">
                          <a href="index-10.html">
                            <span
                              class="demo-bg"
                              style="
                                background-image: url(assets/images/menu/demos/10.jpg);
                              "
                            ></span>
                            <span class="demo-title">10 - shoes store</span>
                          </a>
                        </div>

                        <div class="demo-item hidden">
                          <a href="index-11.html">
                            <span
                              class="demo-bg"
                              style="
                                background-image: url(assets/images/menu/demos/11.jpg);
                              "
                            ></span>
                            <span class="demo-title"
                              >11 - furniture simple store</span
                            >
                          </a>
                        </div>

                        <div class="demo-item hidden">
                          <a href="index-12.html">
                            <span
                              class="demo-bg"
                              style="
                                background-image: url(assets/images/menu/demos/12.jpg);
                              "
                            ></span>
                            <span class="demo-title"
                              >12 - fashion simple store</span
                            >
                          </a>
                        </div>

                        <div class="demo-item hidden">
                          <a href="index-13.html">
                            <span
                              class="demo-bg"
                              style="
                                background-image: url(assets/images/menu/demos/13.jpg);
                              "
                            ></span>
                            <span class="demo-title">13 - market</span>
                          </a>
                        </div>

                        <div class="demo-item hidden">
                          <a href="index-14.html">
                            <span
                              class="demo-bg"
                              style="
                                background-image: url(assets/images/menu/demos/14.jpg);
                              "
                            ></span>
                            <span class="demo-title"
                              >14 - market fullwidth</span
                            >
                          </a>
                        </div>

                        <div class="demo-item hidden">
                          <a href="index-15.html">
                            <span
                              class="demo-bg"
                              style="
                                background-image: url(assets/images/menu/demos/15.jpg);
                              "
                            ></span>
                            <span class="demo-title">15 - lookbook 1</span>
                          </a>
                        </div>

                        <div class="demo-item hidden">
                          <a href="index-16.html">
                            <span
                              class="demo-bg"
                              style="
                                background-image: url(assets/images/menu/demos/16.jpg);
                              "
                            ></span>
                            <span class="demo-title">16 - lookbook 2</span>
                          </a>
                        </div>

                        <div class="demo-item hidden">
                          <a href="index-17.html">
                            <span
                              class="demo-bg"
                              style="
                                background-image: url(assets/images/menu/demos/17.jpg);
                              "
                            ></span>
                            <span class="demo-title">17 - fashion store</span>
                          </a>
                        </div>

                        <div class="demo-item hidden">
                          <a href="index-18.html">
                            <span
                              class="demo-bg"
                              style="
                                background-image: url(assets/images/menu/demos/18.jpg);
                              "
                            ></span>
                            <span class="demo-title"
                              >18 - fashion store (with sidebar)</span
                            >
                          </a>
                        </div>

                        <div class="demo-item hidden">
                          <a href="index-19.html">
                            <span
                              class="demo-bg"
                              style="
                                background-image: url(assets/images/menu/demos/19.jpg);
                              "
                            ></span>
                            <span class="demo-title">19 - games store</span>
                          </a>
                        </div>

                        <div class="demo-item hidden">
                          <a href="index-20.html">
                            <span
                              class="demo-bg"
                              style="
                                background-image: url(assets/images/menu/demos/20.jpg);
                              "
                            ></span>
                            <span class="demo-title">20 - book store</span>
                          </a>
                        </div>

                        <div class="demo-item hidden">
                          <a href="index-21.html">
                            <span
                              class="demo-bg"
                              style="
                                background-image: url(assets/images/menu/demos/21.jpg);
                              "
                            ></span>
                            <span class="demo-title">21 - sport store</span>
                          </a>
                        </div>

                        <div class="demo-item hidden">
                          <a href="index-22.html">
                            <span
                              class="demo-bg"
                              style="
                                background-image: url(assets/images/menu/demos/22.jpg);
                              "
                            ></span>
                            <span class="demo-title">22 - tools store</span>
                          </a>
                        </div>

                        <div class="demo-item hidden">
                          <a href="index-23.html">
                            <span
                              class="demo-bg"
                              style="
                                background-image: url(assets/images/menu/demos/23.jpg);
                              "
                            ></span>
                            <span class="demo-title"
                              >23 - fashion left navigation store</span
                            >
                          </a>
                        </div>

                        <div class="demo-item hidden">
                          <a href="index-24.html">
                            <span
                              class="demo-bg"
                              style="
                                background-image: url(assets/images/menu/demos/24.jpg);
                              "
                            ></span>
                            <span class="demo-title"
                              >24 - extreme sport store</span
                            >
                          </a>
                        </div>
                      </div>

                      <div class="megamenu-action text-center">
                        <a
                          href="#"
                          class="btn btn-outline-primary-2 view-all-demos"
                          ><span>View All Demos</span
                          ><i class="icon-long-arrow-right"></i
                        ></a>
                      </div>
                    </div>
                  </div> -->
                </li>
                <li
                  [routerLink]="['/products/female']"
                  routerLinkActive="active"
                  class="megamenu-container"
                >
                  <a class="sf-with-ul">Đồng hồ Nữ</a>

                  <!-- <div class="megamenu megamenu-md">
                    <div class="row no-gutters">
                      <div class="col-md-8">
                        <div class="menu-col">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="menu-title">
                                Sản phẩm được yêu thích
                              </div>
                              <ul>
                                <li>
                                  <a href="category-list.html">
                                    Danh sách Cửa hàng
                                  </a>
                                </li>
                                <li>
                                  <a href="category-2cols.html">
                                    Mua lưới 2 cột
                                  </a>
                                </li>
                                <li>
                                  <a href="category.html"> Mua lưới 3 cột </a>
                                </li>
                                <li>
                                  <a href="category-4cols.html">
                                    Mua lưới 4 cột
                                  </a>
                                </li>
                                <li>
                                  <a href="category-market.html">
                                    <span>
                                      Chợ mua sắm
                                      <span class="tip tip-new"> Mới </span>
                                    </span>
                                  </a>
                                </li>
                              </ul>

                              <div class="menu-title">Sản phẩm bán chạy</div>
                              <ul>
                                <li>
                                  <a href="category-boxed.html">
                                    <span>
                                      Mua sắm không có thanh bên
                                      <span class="tip tip-hot">
                                        Hấp ​​dẫn
                                      </span>
                                    </span>
                                  </a>
                                </li>
                                <li>
                                  <a href="category-fullwidth.html">
                                    Mua toàn bộ băng thông không có thanh bên
                                  </a>
                                </li>
                              </ul>
                            </div>

                            <div class="col-md-6">
                              <div class="menu-title">Danh mục sản phẩm</div>
                              <ul>
                                <li>
                                  <a href="product-category-boxed.html">
                                    Danh mục Sản phẩm Được đóng hộp
                                  </a>
                                </li>
                                <li>
                                  <a href="product-category-fullwidth.html">
                                    <span>
                                      Toàn bộ chiều rộng của Danh mục Sản phẩm
                                      <span class="tip tip-new"> Mới </span>
                                    </span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="banner banner-overlay">
                          <a href="category.html" class="banner banner-menu">
                            <img
                              nz-image
                              nzSrc="assets/images/menu/banner-1.jpg"
                              alt="Banner"
                            />

                            <div class="banner-content banner-content-top">
                              <div class="banner-title text-white">
                                Last <br />Chance<br /><span
                                  ><strong>Sale</strong></span
                                >
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </li>
                <li
                  [routerLink]="['/products/male']"
                  routerLinkActive="active"
                  class="megamenu-container"
                >
                  <a class="sf-with-ul"> Đồng hồ nam </a>

                  <!-- <div class="megamenu megamenu-md">
                    <div class="row no-gutters">
                      <div class="col-md-8">
                        <div class="menu-col">
                          <div class="row">
                            <div class="col-md-6">
                              <div class="menu-title">
                                Sản phẩm được yêu thích
                              </div>
                              <ul>
                                <li>
                                  <a href="category-list.html">
                                    Danh sách Cửa hàng
                                  </a>
                                </li>
                                <li>
                                  <a href="category-2cols.html">
                                    Mua lưới 2 cột
                                  </a>
                                </li>
                                <li>
                                  <a href="category.html"> Mua lưới 3 cột </a>
                                </li>
                                <li>
                                  <a href="category-4cols.html">
                                    Mua lưới 4 cột
                                  </a>
                                </li>
                                <li>
                                  <a href="category-market.html">
                                    <span>
                                      Chợ mua sắm
                                      <span class="tip tip-new"> Mới </span>
                                    </span>
                                  </a>
                                </li>
                              </ul>

                              <div class="menu-title">Sản phẩm bán chạy</div>
                              <ul>
                                <li>
                                  <a href="category-boxed.html">
                                    <span>
                                      Mua sắm không có thanh bên
                                      <span class="tip tip-hot">
                                        Hấp ​​dẫn
                                      </span>
                                    </span>
                                  </a>
                                </li>
                                <li>
                                  <a href="category-fullwidth.html">
                                    Mua toàn bộ băng thông không có thanh bên
                                  </a>
                                </li>
                              </ul>
                            </div>
                            <div class="col-md-6">
                              <div class="menu-title">Danh mục sản phẩm</div>
                              <ul>
                                <li>
                                  <a href="product-category-boxed.html">
                                    Danh mục Sản phẩm Được đóng hộp
                                  </a>
                                </li>
                                <li>
                                  <a href="product-category-fullwidth.html">
                                    <span>
                                      Toàn bộ chiều rộng của Danh mục Sản phẩm
                                      <span class="tip tip-new"> Mới </span>
                                    </span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="banner banner-overlay">
                          <a href="category.html" class="banner banner-menu">
                            <img
                              nz-image
                              nzSrc="assets/images/menu/banner-2.jpg"
                              alt="Banner"
                            />

                            <div class="banner-content banner-content-top">
                              <div class="banner-title text-white">
                                Last <br />Chance<br /><span
                                  ><strong>Sale</strong></span
                                >
                              </div>
                            </div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </li>
                <li
                  [routerLink]="['/products/lux']"
                  routerLinkActive="active"
                  class="megamenu-container"
                >
                  <a class="sf-with-ul"> Đồng hồ cao cấp</a>

                  <!-- <ul>
                    <li>
                      <a href="about.html" class="sf-with-ul"> Giới thiệu </a>

                      <ul>
                        <li><a href="about.html"> Giới thiệu về 01 </a></li>
                        <li><a href="about-2.html"> Giới thiệu về 02 </a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="contact.html" class="sf-with-ul"> Liên hệ </a>

                      <ul>
                        <li><a href="contact.html"> Liên hệ 01 </a></li>
                        <li><a href="contact-2.html"> Liên hệ 02 </a></li>
                      </ul>
                    </li>
                    <li><a href="login.html"> Đăng nhập </a></li>
                    <li><a href="faq.html"> Câu hỏi thường gặp </a></li>
                    <li><a href="404.html"> Lỗi 404 </a></li>
                    <li><a href="coming-soon.html"> Sắp có </a></li>
                  </ul> -->
                </li>
              </ul>
            </nav>
          </div>

          <div class="header-right">
            <i class="la la-lightbulb-o"></i>
            <p class="mb-0">
              Ưu đãi đặc biệt<span class="highlight">
                &nbsp; Giảm giá tới 30%
              </span>
            </p>
          </div>
        </div>
      </div>
    </header>
    <router-outlet></router-outlet>

    <footer class="footer">
      <div class="footer-middle">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-lg-3">
              <div class="widget widget-about">
                <a [routerLink]="['/index']" class="logo d-flex">
                  <img
                    nz-image
                    nzSrc="assets/image/logo.svg"
                    alt="Molla Logo"
                    width="30"
                    height="30"
                  />
                  <h4
                    class="align-self-center m-0 ml-2"
                    style="color: rgb(102, 71, 226)"
                  >
                    H2N
                  </h4>
                </a>
                <p>Chúng tôi luôn bảo vệ giá trị và niềm tin của khách hàng.</p>

                <div class="widget-call">
                  <i class="icon-phone"></i>
                  Mọi thắc mắc xin liên hệ
                  <a href="tel:0999999999">0999999999</a>
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-lg-3">
              <div class="widget">
                <h4 class="widget-title">Liên kết hữu ích</h4>

                <ul class="widget-list">
                  <li><a href="about.html">Về chúng tôi</a></li>
                  <li>
                    <a [routerLink]="['/products']">Dịch vụ của chúng tôi</a>
                  </li>
                  <li>
                    <a [routerLink]="['/products']">Cách mua sắm trên H2N</a>
                  </li>
                  <li><a href="faq.html">Câu hỏi thường gặp</a></li>
                  <li><a href="contact.html">Lên hệ với chúng tôi</a></li>
                </ul>
              </div>
            </div>

            <div class="col-sm-6 col-lg-3">
              <div class="widget">
                <h4 class="widget-title">Dịch vụ khách hàng</h4>
                <! - End .widget-title ->

                <ul class="widget-list">
                  <li>
                    <a [routerLink]="['/products']"> Phương thức thanh toán </a>
                  </li>
                  <li>
                    <a [routerLink]="['/products']"> Đảm bảo hoàn tiền! </a>
                  </li>
                  <li><a [routerLink]="['/products']"> Trả hàng </a></li>
                  <li><a [routerLink]="['/products']"> Giao hàng </a></li>
                  <li>
                    <a [routerLink]="['/products']">
                      Điều khoản và điều kiện
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/products']">
                      Chính sách quyền riêng tư
                    </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-sm-6 col-lg-3">
              <div class="widget">
                <h4 class="widget-title">Tài khoản của tôi</h4>
                <! - End .widget-title ->

                <ul class="widget-list">
                  <li><a [routerLink]="['/products']"> Đăng nhập </a></li>
                  <li><a [routerLink]="['/cart']"> Xem giỏ hàng </a></li>
                  <li>
                    <a [routerLink]="['/products']">
                      Danh sách yêu thích của tôi
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/products']">
                      Theo dõi đơn hàng của tôi
                    </a>
                  </li>
                  <li><a [routerLink]="['/products']"> Trợ giúp </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="container">
          <p class="footer-copyright">Copyright © 2021 by team 44.</p>
          <figure class="footer-payments">
            <img
              nz-image
              nzSrc="assets/images/payments.png"
              alt="Payment methods"
              width="272"
              height="20"
            />
          </figure>
        </div>
      </div>
    </footer>
  </div>
  <div
    class="modal fade"
    id="signin-modal"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            #closeBtn
          >
            <span aria-hidden="true"><i class="icon-close"></i></span>
          </button>

          <div class="form-box">
            <div class="form-tab">
              <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="signin-tab"
                    data-toggle="tab"
                    href="#signin"
                    role="tab"
                    aria-controls="signin"
                    aria-selected="true"
                    >Đăng nhập</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="register-tab"
                    data-toggle="tab"
                    href="#register"
                    role="tab"
                    aria-controls="register"
                    aria-selected="false"
                    >Đăng ký</a
                  >
                </li>
              </ul>
              <div class="tab-content" id="tab-content-5">
                <div
                  class="tab-pane fade show active"
                  id="signin"
                  role="tabpanel"
                  aria-labelledby="signin-tab"
                >
                  <form [formGroup]="loginForm" *ngIf="this.islogin != '1'">
                    <div class="form-group">
                      <label for="singin-email">Email*</label>
                      <input
                        type="email"
                        formControlName="email"
                        class="form-control"
                        id="singin-email"
                        name="singin-email"
                        required
                      />
                    </div>

                    <div class="form-group">
                      <label for="singin-password">Password *</label>
                      <input
                        type="password"
                        formControlName="password"
                        class="form-control"
                        id="singin-password"
                        name="singin-password"
                        required
                      />
                    </div>
                    <a style="color: red">{{ mess }}</a>
                    <div class="form-footer">
                      <button
                        nz-button
                        [nzLoading]="isLoadingOne"
                        type="submit"
                        (click)="login()"
                        class="btn btn-outline-primary-2"
                      >
                        <span>LOG IN</span>
                        <i class="icon-long-arrow-right"></i>
                      </button>
                    </div>
                  </form>
                </div>
                <div
                  class="tab-pane fade"
                  id="register"
                  role="tabpanel"
                  aria-labelledby="register-tab"
                >
                  <form [formGroup]="rgForm">
                    <div class="form-group">
                      <label for="fullname">Họ và Tên *</label>
                      <input
                        type="text"
                        formControlName="fullname"
                        class="form-control"
                        id="fullname"
                        name="fullname"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="email">Email *</label>
                      <input
                        type="email"
                        formControlName="email"
                        class="form-control"
                        id="register-email"
                        name="register-email"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="phone">Số điện thoại *</label>
                      <input
                        type="text"
                        maxlength="10"
                        formControlName="phone"
                        class="form-control"
                        id="phone"
                        name="phone"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="address">Địa chỉ *</label>
                      <input
                        type="text"
                        formControlName="address"
                        class="form-control"
                        id="address"
                        name="address"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="password">Mật khẩu *</label>
                      <input
                        formControlName="password"
                        type="password"
                        class="form-control"
                        id="password"
                        name="password"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="confirm-password">Xác nhận mật khẩu *</label>
                      <input
                        formControlName="confirmpassword"
                        type="password"
                        class="form-control"
                        id="confirm-password"
                        name="confirm-password"
                        required
                      />
                    </div>
                    <a style="color: red">{{ mess }}</a>
                    <div class="form-footer">
                      <button
                        (click)="signup()"
                        type="submit"
                        nz-button
                        [nzLoading]="isLoadingOne"
                        class="btn btn-outline-primary-2"
                      >
                        <span>Đăng Ký</span>
                        <i class="icon-long-arrow-right"></i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="modal fade"
    id="update-profile"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            #closeBtn
          >
            <span aria-hidden="true"><i class="icon-close"></i></span>
          </button>

          <div class="form-box">
            <div class="form-tab">
              <ul class="nav nav-pills nav-fill nav-border-anim" role="tablist">
                <li class="nav-item">
                  <a
                    class="nav-link active"
                    id="forgot-tab"
                    data-toggle="tab"
                    href="#forgot"
                    role="tab"
                    aria-controls="forgot"
                    aria-selected="true"
                    >Đổi mật khẩu</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link"
                    id="updateprofile-tab"
                    data-toggle="tab"
                    href="#updateprofile"
                    role="tab"
                    aria-controls="updateprofile"
                    aria-selected="false"
                    >Cập nhật thông tin</a
                  >
                </li>
              </ul>
              <div class="tab-content" id="tab-content-5">
                <div
                  class="tab-pane fade show active"
                  id="forgot"
                  role="tabpanel"
                  aria-labelledby="forgot-tab"
                >
                  <form [formGroup]="forgotForm">
                    <div class="form-group">
                      <label for="singin-email">Mật khẩu cũ*</label>
                      <input
                        type="password"
                        formControlName="pass_old"
                        class="form-control"
                        id="singin-email"
                        name="singin-email"
                        required
                      />
                    </div>
                    <!-- End .form-group -->

                    <div class="form-group">
                      <label for="singin-password">Mật khẩu mới *</label>
                      <input
                        type="password"
                        formControlName="pass_new"
                        class="form-control"
                        id="singin-password"
                        name="singin-password"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="singin-password">Xác nhận mật khẩu *</label>
                      <input
                        type="password"
                        formControlName="confirmpassword"
                        class="form-control"
                        id="singin-password"
                        name="singin-password"
                        required
                      />
                    </div>
                    <!-- End .form-group -->
                    <a style="color: red">{{ mess }}</a>
                    <div class="form-footer">
                      <button
                        type="submit"
                        nz-button
                        [nzLoading]="isLoadingOne"
                        (click)="changepass()"
                        class="btn btn-outline-primary-2"
                      >
                        <span>Đổi mật khẩu</span>
                        <i class="icon-long-arrow-right"></i>
                      </button>
                    </div>
                  </form>
                </div>
                <div
                  class="tab-pane fade"
                  id="updateprofile"
                  role="tabpanel"
                  aria-labelledby="updateprofile-tab"
                >
                  <form [formGroup]="updateForm">
                    <div class="form-group">
                      <label for="fullname">Họ và Tên *</label>
                      <input
                        type="text"
                        formControlName="fullname"
                        class="form-control"
                        id="fullname"
                        name="fullname"
                        required
                      />
                    </div>

                    <div class="form-group">
                      <label for="phone">Số điện thoại *</label>
                      <input
                        type="text"
                        maxlength="10"
                        formControlName="phone"
                        class="form-control"
                        id="phone"
                        name="phone"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label for="address">Địa chỉ *</label>
                      <input
                        type="text"
                        formControlName="address"
                        class="form-control"
                        id="address"
                        name="address"
                        required
                      />
                    </div>
                    <a style="color: red">{{ mess }}</a>
                    <div class="form-footer">
                      <button
                        (click)="updateProfile()"
                        type="submit"
                        nz-button
                        [nzLoading]="isLoadingOne"
                        class="btn btn-outline-primary-2"
                      >
                        <span>Cập nhật</span>
                        <i class="icon-long-arrow-right"></i>
                      </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nz-back-top></nz-back-top>
</div>
