:host ::ng-deep .long-div .ant-back-top {
  right: 100px;
}

:host ::ng-deep .long-div .ant-back-top-rtl {
  right: unset;
  left: 100px;
}


.ant-back-top-icon{
  margin-top: 10px;
}
.certain-search-item-count {
  position: absolute;
  color: #999;
  right: 16px;
}

.more-link {
  float: right;
}
.cart-dropdown .dropdown-menu{
  width: 430px;
}
svg{
  vertical-align:bottom !important;
}
.menu.sf-arrows .sf-with-ul::after{
  content: none;
}
