<nz-card class="card-header mb-2">
  <div nz-row class="header">
    <div nz-col nzSpan="12">
      <h4 class="title-card mb-1">Danh sách</h4>
      <nz-breadcrumb>
        <nz-breadcrumb-item routerLink="/dashboard">
          <i nz-icon nzType="home"></i>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a>
            <i nz-icon nzType="user"></i>
            <span>Danh sách người dùng</span>
          </a>
        </nz-breadcrumb-item>
        <!-- <nz-breadcrumb-item>Application</nz-breadcrumb-item> -->
      </nz-breadcrumb>
    </div>
  </div>
</nz-card>
<div class="inner-content">
  <ag-grid-angular
    #agGrid
    style="width: 100%; height: 90%;"
    id="myGrid"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [getRowHeight]="getRowHeight"
    (cellDoubleClicked)="onCellDoubleClicked($event)"
    [rowData]="rowData"
    [frameworkComponents]="frameworkComponents"
    [excelStyles]="excelStyles"
    [overlayLoadingTemplate]="overlayLoadingTemplate"
    [overlayNoRowsTemplate]="overlayNoRowsTemplate"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>
</div>


<!-- <img src="../../../../assets/image/imagedf.jpg" alt="" srcset=""> -->
