
// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";
// @import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";
// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

// @primary-color: #1890ff;
/* You can add global styles to this file, and also import other style files */
.ant-image-preview-img{
  position: absolute;
top: 40px !important;
left: 0;
right: 0;
margin: 0 auto;
}
body{
  font-family: 'Roboto', sans-serif;
  background: #eee;
}

.bg-1 {
  background: linear-gradient(to bottom right, #F54EA2, #FF7676);
}

.bg-2 {
  background: linear-gradient(to bottom right, #17EAD9, #6078EA);
}

.bg-3 {
  background: linear-gradient(to bottom right, #42E695, #3BB2B8);
}

.bg-4 {
  background: linear-gradient(to bottom right, #FCE38A, #F38181);
}

.bg-5 {
  background: linear-gradient(to bottom right, #F02FC2, #6094EA);
}

.bg-6 {
  background: linear-gradient(to bottom right, #5B247A, #1BCEDF);
}

.bg-7 {
  background: linear-gradient(to bottom right, #622774, #C53364);
}

.bg-8 {
  background: linear-gradient(to bottom right, #7117EA, #EA6060);
}

.bg-9 {
  background: linear-gradient(to bottom right, #65799B, #5E2563);
}

.bg-10 {
  background:linear-gradient(to bottom right, #bdeaff, #57CA85);
}

.card-1:hover {
  box-shadow: 0 8px 8px 0 rgb(240 48 193 / 20%), 0 -16px 11px 0 rgb(240 48 193 / 20%);
}

.card-2:hover {
  box-shadow: 0 4px 8px 0 rgba(23, 234, 217, 0.2), 0 6px 20px 0 rgba(23, 234, 217, 0.2);
}

.card-3:hover {
  box-shadow: 0 4px 8px 0 rgba(67, 230, 149, 0.2), 0 6px 20px 0 rgba(67, 230, 149, 0.2);
}

.card-4:hover {
  box-shadow: 0 4px 8px 0 rgba(252, 227, 138, 0.2), 0 6px 20px 0 rgba(252, 227, 138, 0.2);
}

.card-5:hover {
  box-shadow: 0 4px 8px 0 rgba(240, 48, 193, 0.2), 0 6px 20px 0 rgba(240, 48, 193, 0.2);
}

.card-6:hover {
  box-shadow: 0 4px 8px 0 rgba(27, 206, 223, 0.2), 0 6px 20px 0 rgba(27, 206, 223, 0.2);
}

.card-7:hover {
  box-shadow: 0 4px 8px 0 rgba(98, 39, 116, 0.2), 0 6px 20px 0 rgba(98, 39, 116, 0.2);
}

.card-8:hover {
  box-shadow: 0 4px 8px 0 rgba(113, 23, 234, 0.2), 0 6px 20px 0 rgba(113, 23, 234, 0.2);
}

.card-9:hover {
  box-shadow: 0 4px 8px 0 rgba(94, 37, 99, 0.2), 0 6px 20px 0 rgba(94, 37, 99, 0.2);
}

.card-10:hover {
  box-shadow: 0 4px 8px 0 rgba(87, 202, 133, 0.2), 0 6px 20px 0 rgba(87, 202, 133, 0.2);
}
.ant-statistic-title {
  margin-bottom: 4px;
  text-shadow: 1px 1px #888;
  color: #fff;
  font-size: 14px;
  font-size: x-large;
}

.inner-content {
  padding: 24px;
  background: #fff;
  height: 100%;
}
svg{
  vertical-align: initial !important;
}
.box-s{
  box-shadow: rgba(51, 51, 51, 0.2) 0px 8px 16px 0px;
}
.ant-layout {
background: #eee !important;
}
.btn-product span{
  font-size: 1.1rem;
}
.cart-dropdown .dropdown-cart-products{
  max-height: 40vh ;
  overflow-x: auto;
}
.cart-dropdown .dropdown-cart-products::-webkit-scrollbar {
  width: 1px;
}

/* Track */
.cart-dropdown .dropdown-cart-products::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.cart-dropdown .dropdown-cart-products::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.cart-dropdown .dropdown-cart-products::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 255, 255);
}
.cart-item{
  border: 1px solid rgb(238, 237, 237)  !important;
}
.imgProduct{
   width: 100% ;
}
.imgProduct .ant-skeleton-image{
  width: 100% ;
  height: 200px;
}
.bg-bor{
  background: #fff !important;
    border-radius: 10px !important;
}