<nz-row [nzGutter]="8" class="mb-2">
  <nz-col [nzSpan]="6">
    <nz-card class=" bg-5  card-5 rounded"> 
      <nz-statistic
        [nzValue]="(11.28 | number: '1.0-2')!"
        [nzTitle]="'Tổng Chi Phí'"
        [nzPrefix]="prefixTplOne"
        [nzSuffix]="'%'"
        [nzValueStyle]="{ color: '#fff' }"
      ></nz-statistic>
      <ng-template #prefixTplOne><i nz-icon nzType="arrow-up"></i></ng-template>
    </nz-card>
  </nz-col>
  <nz-col [nzSpan]="6">
    <nz-card class="  bg-4  card-5 rounded">
      <nz-statistic
        [nzValue]="(9.3 | number: '1.0-2')!"
        [nzTitle]="'Tổng Doanh Thu'"
        [nzPrefix]="prefixTplTwo"
        [nzSuffix]="'%'"
        [nzValueStyle]="{ color: '#fff' }"
      ></nz-statistic>
      <ng-template #prefixTplTwo><i nz-icon nzType="arrow-down"></i></ng-template>
    </nz-card>
  </nz-col>
  <nz-col [nzSpan]="6">
    <nz-card class="  bg-10  card-5 rounded">
      <nz-statistic [nzValue]="(1128 | number)!" [nzValueStyle]="{ color: '#fff' }" [nzTitle]="'Tổng Lợi Nhuận'" [nzPrefix]="prefixTpl"></nz-statistic>
      <ng-template #prefixTpl><i nz-icon nzType="like"></i></ng-template>
    </nz-card>
  </nz-col>
  <nz-col [nzSpan]="6">
    <nz-card class="   card-5 rounded bg-3 ">
      <nz-statistic [nzValue]="93"   [nzValueStyle]="{ color: '#fff' }" [nzTitle]="'Người Dùng'" [nzSuffix]="'/ 100'"></nz-statistic>
    </nz-card>
  </nz-col>
</nz-row>
<div class="inner-content">
  <ag-grid-angular
    #agGrid
    style="width: 100%; height: 100%;"
    id="myGrid"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [getRowHeight]="getRowHeight"
    (cellDoubleClicked)="onCellDoubleClicked($event)"
    [rowData]="rowData"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>
</div>
